@charset "UTF-8";
@font-face {
  font-family: 'PartialSansKR-Regular';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TheJamsil';
  src: url("../../public/font/The_Jamsil_OTF/Regular.otf") format("woff2"); }

@font-face {
  font-family: 'OKDDUNG';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKDDUNG.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

ul li,
ol li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

img {
  width: 100%; }

.disNo {
  display: none; }

.disYes {
  display: block; }

textarea {
  resize: none; }

.flex-box {
  display: flex; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5em;
  letter-spacing: -.5px;
  font-family: 'TheJamsil';
  font-weight: 100; }

input {
  font-family: 'Times New Roman', Times, serif; }

#root {
  width: 100%; }
  #root .logo {
    z-index: 22;
    display: flex;
    align-items: center;
    margin: 0 3%; }
    #root .logo a {
      text-align: center;
      font-size: 45px;
      letter-spacing: initial;
      display: flex;
      font-family: "OKDDUNG";
      color: #111; }
      #root .logo a img {
        margin-left: 2px;
        width: 60px; }
  #root header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition: .5s; }
    #root header .logo {
      border-radius: 50%;
      padding: 3px; }
      #root header .logo a {
        text-shadow: 3px 1px 5px #000;
        color: #babfff; }
    #root header.on {
      background-color: #fff;
      border-bottom: .5px solid #999; }
      #root header.on .header-nav-menu li a {
        color: #000;
        text-shadow: none; }
      #root header.on b {
        color: #000;
        text-shadow: none; }
      #root header.on .login-box a {
        color: #000 !important;
        text-shadow: none; }
      #root header.on .login-box b {
        color: #000 !important;
        text-shadow: inherit !important; }
    #root header .header {
      margin: auto;
      max-width: 1400px;
      position: relative;
      display: flex;
      width: 100%;
      height: 100%; }
      #root header .header-nav-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        transition: .5s; }
        #root header .header-nav-menu li {
          min-width: 80px;
          margin: 0 13px;
          padding: 10px 0; }
          #root header .header-nav-menu li a {
            color: #babfff;
            text-shadow: 3px 1px 3px #000;
            text-align: center;
            display: block;
            width: 100%;
            height: 100%;
            transition: .5s;
            font-size: 19px;
            font-family: "TheJamsil";
            font-weight: 700; }
          #root header .header-nav-menu li:hover a {
            transform: scale(1.2);
            font-weight: 700;
            color: #ff9d9d; }
    #root header .login-box {
      position: absolute;
      z-index: 999;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      max-width: 280px;
      padding: .5%;
      border-radius: 25px;
      background: #fff; }
      #root header .login-box li {
        display: flex;
        margin: 0 10px; }
        #root header .login-box li a {
          text-shadow: 3px 1px 3px #000;
          color: #000; }
        #root header .login-box li.id b {
          color: #000;
          margin: 0 4px; }
          #root header .login-box li.id b:first-of-type {
            color: orangered; }
        #root header .login-box li.icon-box .icon-list {
          display: flex; }
          #root header .login-box li.icon-box .icon-list a {
            color: #000; }
          #root header .login-box li.icon-box .icon-list .logout {
            cursor: pointer; }
  #root .container2 {
    position: relative;
    width: 100%;
    background: #fff; }
    #root .container2 .content-cover {
      margin: auto;
      width: 100%;
      max-width: 1500px;
      height: 100%;
      position: relative; }
  #root .container-normal {
    max-width: 1400px;
    padding: 25px 200px 100px;
    margin: auto;
    margin-top: 90px; }
    #root .container-normal h2 {
      margin: 4% 0 2%;
      font-size: 40px;
      display: flex; }
      #root .container-normal h2::before {
        content: "🖍";
        font-size: 0.8em;
        transform: rotate(-50deg);
        display: block; }
  #root .onePage {
    max-width: 1400px;
    min-height: 500px;
    margin: auto;
    padding: 2% 12.5%; }
    @media screen and (min-width: 1820px) {
      #root .onePage {
        padding: 2% 0; } }
  #root h1 {
    font-family: 'PartialSansKR-Regular';
    font-weight: 100; }
  #root section {
    width: 100%;
    overflow: hidden; }
    #root section article {
      margin: auto;
      height: 100%;
      position: relative; }
      #root section article h2 {
        text-align: center;
        text-shadow: none;
        color: rgba(0, 0, 0, 0.7);
        font-size: 40px;
        font-family: "OKDDUNG";
        font-weight: 100;
        margin: 10px 0 30px; }
      #root section article.section-pad {
        position: relative; }
      #root section article .imgBox img {
        max-width: 100%; }
      #root section article .imgBox a {
        display: none; }
    #root section#section1 {
      height: 710px; }
      #root section#section1 article {
        width: 100%;
        position: relative;
        background: url("../../public/img/bg_3.jpg") no-repeat center;
        background-size: 100%; }
        #root section#section1 article .textbox {
          position: absolute;
          left: 5%;
          top: 40%;
          transform: translateY(-50%);
          width: 45%;
          margin: 0; }
          #root section#section1 article .textbox h2 {
            text-align: left;
            margin: 0;
            color: #fff;
            font-family: "OKDDUNG";
            font-size: 70px;
            text-shadow: 3px 1px 5px #000; }
          #root section#section1 article .textbox p {
            text-shadow: 3px 1px 5px #000;
            word-break: keep-all;
            color: #fff;
            padding-top: 30px;
            font-size: 35px; }
        #root section#section1 article .bg {
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.4); }
          #root section#section1 article .bg .imgbox {
            position: absolute;
            width: 50%;
            max-width: 500px;
            height: 50%;
            left: 75%;
            top: 50%;
            transform: translate(-50%, -50%);
            overflow: hidden;
            border-radius: 5px; }
        #root section#section1 article .imgBox {
          position: relative;
          min-width: 750px;
          width: 50%; }
          #root section#section1 article .imgBox img {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 100%; }
    #root section#section2 {
      padding: 20px 12.5%;
      margin: auto;
      background: rgba(196, 196, 196, 0.2); }
      #root section#section2 article {
        padding: 10px 1%; }
      #root section#section2 h2 {
        color: rgba(0, 0, 0, 0.7); }
      #root section#section2 svg rect.bar {
        color: #babfff; }
      #root section#section2 svg text {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.7); }
    #root section#section3 .section3_div {
      display: none; }
      #root section#section3 .section3_div .imgBox {
        width: 25%;
        margin: auto; }
        #root section#section3 .section3_div .imgBox img {
          max-width: 250px;
          margin: auto;
          display: block;
          border-radius: 10px; }
      #root section#section3 .section3_div .detail {
        width: 60%;
        margin: 0 auto; }
        #root section#section3 .section3_div .detail .overlap {
          display: inline-flex;
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3), -2px -2px 6px rgba(0, 0, 0, 0.3);
          margin: 10px 5px;
          padding: 7.5px 20px;
          border-radius: 15px;
          font-size: 21px; }
          #root section#section3 .section3_div .detail .overlap .name {
            margin-right: 2px; }
    #root section#section3 table {
      display: flex;
      border-collapse: collapse;
      border-spacing: 0; }
      #root section#section3 table tr {
        display: flex;
        flex-wrap: wrap; }
        #root section#section3 table tr th,
        #root section#section3 table tr td {
          padding: 0;
          margin: 0;
          border: 1px solid #0009; }
        #root section#section3 table tr th {
          width: 25%; }
    #root section#section4 {
      padding: 30px 0;
      background: rgba(170, 176, 255, 0.35); }
      #root section#section4 article {
        max-width: initial;
        padding: 0; }
        #root section#section4 article .list {
          display: flex;
          padding: 0 3%; }
          #root section#section4 article .list .flex-box {
            width: 100%; }
            #root section#section4 article .list .flex-box .imgBox {
              width: 25%;
              height: 350px;
              overflow: hidden;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center; }
              #root section#section4 article .list .flex-box .imgBox:hover {
                transition: .5s;
                transition-property: width,height,opacity,border-radius,background-color;
                margin: auto 0;
                box-shadow: 2px 2px 10px #babfff;
                background-color: #fff;
                border-radius: 10px;
                border: 5px solid #1e3932; }
                #root section#section4 article .list .flex-box .imgBox:hover::before {
                  content: "";
                  display: block;
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  top: 10px;
                  left: 10px;
                  background: #1e3932; }
                #root section#section4 article .list .flex-box .imgBox:hover::after {
                  content: "";
                  display: block;
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  bottom: 10px;
                  right: 10px;
                  background: #1e3932; }
                #root section#section4 article .list .flex-box .imgBox:hover img {
                  background: transparent;
                  transform: scale(1.2);
                  opacity: 1; }
                #root section#section4 article .list .flex-box .imgBox:hover h3 {
                  color: transparent;
                  opacity: 0;
                  width: 0;
                  height: 0; }
                  #root section#section4 article .list .flex-box .imgBox:hover h3::after {
                    opacity: 0; }
              #root section#section4 article .list .flex-box .imgBox img {
                padding: 6%;
                transition: .5s;
                display: block;
                margin: auto;
                max-width: 150px;
                opacity: 0; }
              #root section#section4 article .list .flex-box .imgBox h3 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-weight: 700;
                font-size: 36px;
                transition: .5; }
                #root section#section4 article .list .flex-box .imgBox h3::after {
                  content: "";
                  transition: .5s;
                  position: absolute;
                  left: 50%;
                  top: 55%;
                  transform: translateX(-50%);
                  z-index: -1;
                  display: block;
                  width: 130%;
                  height: 30%;
                  background: #aab0ff; }
  #root .download {
    width: 70%;
    margin: auto; }
    #root .download > form {
      width: 100%;
      height: 60vh;
      position: relative;
      overflow: hidden;
      transition: 0.5s; }
      #root .download > form h1 {
        padding: 0 1%;
        margin-bottom: 20px; }
      #root .download > form > div.setting_cover {
        position: relative;
        width: 100%;
        height: 100%;
        position: absolute;
        flex-wrap: nowrap;
        display: flex;
        transition: 0.5s; }
        #root .download > form > div.setting_cover div {
          padding: 0 1%;
          width: 100%; }
      #root .download > form > div p.terms {
        margin: 20px auto;
        background: #eee;
        border: 3px solid #999;
        border-radius: 5px;
        width: 95%;
        height: 50%;
        padding: 5px;
        overflow-y: scroll; }
      #root .download > form > div h3 {
        text-align: right; }
        #root .download > form > div h3 .custom-slick-next {
          position: inherit; }
      #root .download > form ul li {
        border-top: 1px solid #cecdcd;
        margin: 0;
        height: 60px; }
        #root .download > form ul li:last-of-type {
          border-bottom: 1px solid #cecdcd; }
        #root .download > form ul li label {
          width: 25%;
          margin: 0;
          padding-left: 2%;
          display: flex;
          align-items: center; }
          #root .download > form ul li label span {
            padding-left: 6%;
            width: 100%; }
            #root .download > form ul li label span::before {
              content: "▶";
              margin-right: 20px; }
        #root .download > form ul li .insert-box {
          padding-left: 2%;
          display: flex;
          align-items: center;
          width: 75%; }
          #root .download > form ul li .insert-box input {
            width: 40%;
            font-size: 16px;
            padding-left: 1%;
            margin: 0; }
  #root .adm {
    height: 82vh;
    width: 65%;
    margin: auto; }
    #root .adm-list {
      overflow: hidden;
      cursor: pointer;
      border: 1px solid #000;
      border-bottom: 0; }
      #root .adm-list:last-of-type {
        border-bottom: 1px solid #000; }
      #root .adm-list.on {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(170, 176, 255, 0.3);
        border: 0;
        transition: .5s; }
        #root .adm-list.on .adm-list-name {
          transition: .5s;
          border: 0;
          background: #babfff;
          color: #000; }
          #root .adm-list.on .adm-list-name::after {
            content: "✔";
            display: block; }
        #root .adm-list.on .adm-list-content {
          height: inherit; }
      #root .adm-list-name {
        padding: 10px;
        display: flex;
        justify-content: space-between; }
        #root .adm-list-name::after {
          content: "";
          display: block; }
      #root .adm-list-content {
        height: 0;
        transition: .5s; }
        #root .adm-list-content form {
          padding-bottom: 10px; }
          #root .adm-list-content form ul {
            margin: 0 auto; }
            #root .adm-list-content form ul li {
              padding: 10px;
              padding-left: 40px;
              border-bottom: 1px solid #9e9e9e;
              margin: 0; }
              #root .adm-list-content form ul li label::before {
                content: "▶";
                margin-right: 20px; }
              #root .adm-list-content form ul li input {
                width: 35%;
                height: 30px;
                padding-left: 2.5px;
                border-radius: 3px;
                border: 1px solid #9e9e9e; }
              #root .adm-list-content form ul li select {
                border: 1px solid #9e9e9e;
                height: 30px; }
  #root .login {
    border: 1px solid #000;
    width: 27.5%;
    padding: 2%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 1px solid rgba(68, 68, 68, 0.4); }
    #root .login h2 {
      margin-bottom: 20px; }
    #root .login .loginForm {
      width: 95% !important;
      margin: auto; }
      #root .login .loginForm ul {
        border: 1px solid #cecdcd;
        border-radius: 5px; }
        #root .login .loginForm ul li {
          padding: 10px 15px; }
          #root .login .loginForm ul li label {
            width: 10%;
            font-size: 16px;
            text-align: center; }
          #root .login .loginForm ul li input {
            font-size: 16px;
            width: 90%;
            border: 0;
            padding-left: 1%;
            background: transparent; }
          #root .login .loginForm ul li:first-of-type {
            border-bottom: 1px solid #cecdcd; }
    #root .login .supplementary-services {
      margin: 20px auto 0;
      width: 100%; }
      #root .login .supplementary-services a {
        display: inline-block;
        width: 33.3%;
        border-left: 1px solid #cdcdcd;
        color: rgba(68, 68, 68, 0.4);
        letter-spacing: -1px;
        text-align: center;
        font-size: 14px; }
        #root .login .supplementary-services a:first-of-type {
          border: 0; }
        #root .login .supplementary-services a:hover {
          color: #000;
          font-weight: 700; }
  #root .register {
    padding: 2% 15px;
    max-width: 1400px; }
    #root .register h2 {
      margin-bottom: 30px; }
    #root .register-ui {
      width: 100%;
      margin: 0 auto;
      border-bottom: 1px solid #cecdcd; }
      #root .register-ui li {
        border-top: 1px solid #cecdcd;
        margin: 0;
        height: 60px; }
        #root .register-ui li:first-of-type {
          border-top: 1px solid #cecdcd; }
        #root .register-ui li.gender .gender-box {
          width: 30%; }
          #root .register-ui li.gender .gender-box label {
            display: inline;
            text-align: center;
            font-size: 25px;
            margin-right: 20px; }
          #root .register-ui li.gender .gender-box input {
            width: 15px; }
        #root .register-ui li label {
          width: 25%;
          margin: 0;
          padding-left: 2%;
          display: flex;
          align-items: center; }
          #root .register-ui li label span {
            padding-left: 6%;
            width: 100%; }
            #root .register-ui li label span::before {
              content: "▶";
              margin-right: 20px; }
        #root .register-ui li .insert-box {
          padding-left: 2%;
          display: flex;
          align-items: center;
          width: 75%; }
          #root .register-ui li .insert-box input {
            width: 40%;
            font-size: 16px;
            padding-left: 1%;
            margin: 0; }
    #root .register .btnArea {
      margin-top: 30px; }
  #root .myName {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    display: flex;
    font-size: 100px;
    font-weight: 400; }
    #root .myName div {
      margin: 0 15px;
      position: relative;
      z-index: -1; }
  #root .myPage {
    width: 50%;
    margin: 20px auto;
    border: 1px solid rgba(68, 68, 68, 0.4);
    border-radius: 5px;
    overflow: hidden; }
    #root .myPage li {
      border-top: 1px solid rgba(68, 68, 68, 0.4);
      display: flex; }
      #root .myPage li p {
        font-size: 18px;
        padding: 20px;
        padding-right: 0;
        color: #000; }
        #root .myPage li p:first-of-type {
          width: 35%;
          font-weight: 700; }
        #root .myPage li p:last-of-type {
          width: 65%;
          border-left: 1px solid rgba(68, 68, 68, 0.4); }
      #root .myPage li:first-of-type {
        border: 0; }
  #root .board {
    width: 100%;
    min-height: 500px;
    height: auto;
    padding-bottom: 100px; }
    #root .board-Mini {
      padding-top: 50px;
      width: 90%;
      margin: auto;
      margin-bottom: 0px !important;
      padding-bottom: 0px !important; }
    #root .board-type-board {
      position: relative; }
      #root .board-type-board ul {
        width: 100%;
        overflow: hidden; }
        #root .board-type-board ul li {
          border-bottom: 1px solid #dddcdc;
          padding: 1% 0;
          display: flex; }
          #root .board-type-board ul li.tag_name {
            background: #babfff;
            padding-left: 2%; }
          #root .board-type-board ul li a {
            display: flex;
            flex-wrap: wrap;
            align-items: center; }
            #root .board-type-board ul li a p {
              width: 100%; }
              #root .board-type-board ul li a p .reply_count {
                margin-left: 5px;
                color: #999; }
            #root .board-type-board ul li a.num {
              width: 10%;
              text-align: center; }
            #root .board-type-board ul li a.subject {
              width: 70%;
              padding-left: 1%; }
              #root .board-type-board ul li a.subject p.time {
                color: #999; }
            #root .board-type-board ul li a.user {
              width: 10%; }
          #root .board-type-board ul li .hit {
            display: flex;
            align-items: center;
            text-align: center;
            padding-left: 2%;
            width: 10%; }
      #root .board-type-board table {
        width: 100%;
        border-collapse: collapse;
        overflow: hidden; }
        #root .board-type-board table tbody tr th {
          padding-bottom: 5px;
          border-bottom: 1px solid #babfff;
          text-align: center;
          background: #babfff; }
          #root .board-type-board table tbody tr th:first-of-type {
            width: 10%; }
          #root .board-type-board table tbody tr th:nth-of-type(2) {
            width: 53%; }
          #root .board-type-board table tbody tr th:nth-of-type(3) {
            width: 17%; }
          #root .board-type-board table tbody tr th:nth-of-type(4) {
            width: 10%; }
          #root .board-type-board table tbody tr th:nth-of-type(5) {
            width: 20%; }
        #root .board-type-board table tbody tr td {
          padding: 2px;
          border-bottom: 1px solid rgba(143, 142, 142, 0.5);
          text-align: center; }
          #root .board-type-board table tbody tr td:nth-of-type(2) {
            text-align: left; }
          #root .board-type-board table tbody tr td:nth-of-type(2) {
            padding-left: 3%; }
          #root .board-type-board table tbody tr td a {
            display: block; }
    #root .board-type-gallery table tbody {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center; }
      #root .board-type-gallery table tbody tr {
        width: 26%;
        display: flex;
        margin-bottom: 2%;
        flex-wrap: wrap;
        border-radius: 5px;
        box-shadow: 0px 0px 3px #888;
        padding: 5px 10px; }
        #root .board-type-gallery table tbody tr:first-of-type {
          width: 100%;
          display: none; }
        #root .board-type-gallery table tbody tr td {
          width: 100%; }
          #root .board-type-gallery table tbody tr td.img {
            width: 100%;
            height: 100%; }
            #root .board-type-gallery table tbody tr td.img img {
              width: 100%;
              height: 100%; }
          #root .board-type-gallery table tbody tr td.subject a {
            font-size: 23px;
            color: #babfff; }
          #root .board-type-gallery table tbody tr td.user {
            font-size: 13px;
            text-align: right; }
          #root .board-type-gallery table tbody tr td.time {
            font-size: 13px;
            letter-spacing: 1px;
            text-align: right; }
    #root .board-bottom {
      width: 100%;
      position: absolute;
      bottom: 0; }
    #root .board-nav {
      display: flex;
      margin: 1% 0 0; }
      #root .board-nav > div {
        margin: 0 .5%;
        display: flex; }
      #root .board-nav a {
        margin: 0 1%; }
    #root .board-ui {
      width: 100%; }
      #root .board-ui form {
        width: 60%;
        margin: 20px auto;
        box-shadow: 0px 0px 5px #888;
        border-radius: 5px; }
        #root .board-ui form .title {
          display: flex;
          align-items: center;
          justify-content: space-between; }
          #root .board-ui form .title h2 {
            font-size: 2em;
            padding: 10px 0;
            padding-left: 20px; }
          #root .board-ui form .title .admin-box {
            display: flex;
            justify-content: inherit;
            padding: 0 10px; }
            #root .board-ui form .title .admin-box div.notice {
              display: flex;
              align-items: center; }
              #root .board-ui form .title .admin-box div.notice label {
                word-break: keep-all;
                padding: 5px; }
              #root .board-ui form .title .admin-box div.notice input {
                min-width: 20px;
                margin: auto; }
        #root .board-ui form ul li {
          display: flex;
          padding: 10px 0;
          position: relative;
          align-items: center;
          justify-content: flex-end;
          border-top: 1px solid #999; }
          #root .board-ui form ul li:last-of-type {
            border-bottom: 1px solid #999; }
          #root .board-ui form ul li label {
            border-radius: 5px;
            display: block;
            width: 35%;
            font-size: 18px;
            text-align: center;
            line-height: 1.5em; }
          #root .board-ui form ul li input {
            border: 1px solid #999;
            border-radius: 5px;
            width: 65%;
            height: 25px;
            margin-right: 15px; }
          #root .board-ui form ul li p {
            width: 65%; }
          #root .board-ui form ul li textarea {
            border-radius: 5px;
            border: 1px solid #999;
            width: 65%;
            height: 35vh;
            margin-right: 15px; }
        #root .board-ui form .btnArea {
          padding: 0 20px 20px 0; }
    #root .board-content {
      width: 100%;
      margin: 10px auto 0;
      border-top: 3px solid #babfff; }
      #root .board-content .subjectLine {
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-bottom: 20px;
        border-bottom: .5px solid #cecdcd;
        padding: 5px 20px 10px; }
      #root .board-content-sbj {
        width: 100%;
        padding-left: 10px;
        font-size: 27px;
        white-space: nowrap;
        overflow: hidden; }
      #root .board-content-right {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap; }
        #root .board-content-right p {
          color: #888;
          line-height: 2.2em;
          font-size: 17px; }
          #root .board-content-right p.hit {
            margin-right: 15px; }
          #root .board-content-right p.user {
            font-size: 17px;
            line-height: 2.2em;
            margin-right: 15px; }
          #root .board-content-right p.time {
            line-height: 2em;
            margin-top: 5px;
            font-size: 14px; }
        #root .board-content-right .btnArea {
          width: 100%; }
      #root .board-content-txt {
        padding: 0 20px;
        min-height: 200px;
        height: 100%;
        font-size: 14px;
        white-space: pre-wrap; }
    #root .board .btnArea .reply-button {
      width: 100px; }
      #root .board .btnArea .reply-button-x {
        width: 80px; }
    #root .board .reply {
      margin: 30px 0 50px;
      border-top: 3px solid #babfff;
      background: #fafafa; }
      #root .board .reply-insert {
        margin: 20px 0;
        padding-bottom: 10px;
        padding-right: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        border-bottom: 3px solid #babfff; }
        #root .board .reply-insert p {
          display: flex;
          align-items: center;
          padding-left: 3%;
          font-size: 18px;
          width: 13%; }
        #root .board .reply-insert textarea {
          height: 100px;
          width: 87%;
          border: 1px solid #b3b1b1;
          margin-bottom: 5px; }
        #root .board .reply-insert .reply-button {
          width: 80px;
          padding: 10px 0;
          margin: 1% 2px 0;
          background-color: #babfff;
          border-radius: 10px;
          font-weight: 700;
          border: 0;
          cursor: pointer;
          box-shadow: 1px 1px 1px #888; }
      #root .board .reply-list .reply-info {
        padding: 7px 0;
        border-bottom: .5px solid #ddd;
        width: 100%;
        font-size: 14px;
        display: flex; }
        #root .board .reply-list .reply-info .reply-userId {
          padding-left: 2%;
          font-size: 1em;
          width: 15%; }
        #root .board .reply-list .reply-info .reply-content {
          width: 70%;
          padding: 0 2%;
          margin-right: 5%; }
        #root .board .reply-list .reply-info .reply-time {
          width: 10%;
          font-size: 0.9em;
          white-space: nowrap; }
        #root .board .reply-list .reply-info .reply-varValue {
          width: 5%;
          text-align: center;
          position: relative; }
          #root .board .reply-list .reply-info .reply-varValue .reply-varValue-depth {
            display: none;
            position: absolute;
            z-index: 10;
            width: 100%;
            top: 30%;
            left: 0;
            background: #fff; }
            #root .board .reply-list .reply-info .reply-varValue .reply-varValue-depth.on {
              display: block; }
            #root .board .reply-list .reply-info .reply-varValue .reply-varValue-depth li {
              padding: 2%;
              border: 1px solid #cecdcd;
              text-align: center; }
              #root .board .reply-list .reply-info .reply-varValue .reply-varValue-depth li:first-of-type {
                border-bottom: 0; }
  #root .about-banner {
    margin-top: 90px;
    height: 200px;
    position: relative;
    background-image: url("../../public/img/office.jpg");
    background-size: cover;
    background-position: 600px; }
    #root .about-banner h3 {
      position: absolute;
      top: 50%;
      color: #000;
      text-shadow: 1px 1px 2px #fff;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 45px;
      font-weight: 700;
      text-align: center; }
  #root .about section article {
    padding: 4% 2%;
    max-width: 1400px;
    margin: auto;
    font-size: 20px; }
    #root .about section article h3 {
      width: auto;
      font-size: 55px;
      margin-bottom: 30px;
      position: relative; }
      #root .about section article h3::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0%;
        background: #babfff;
        width: 8%;
        height: 6px; }
    #root .about section article.greetings p {
      line-height: 2em; }
  #root .project-menu {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 70%;
    max-width: 1000px;
    margin: 20px auto 40px;
    align-items: center;
    font-size: 27px; }
    #root .project-menu li {
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 1em;
      padding: 10px 0; }
      #root .project-menu li:hover a {
        font-size: 1.2em;
        text-shadow: orange 3px 1px 15px; }
      #root .project-menu li a {
        transition: .5s;
        font-family: 'OKDDUNG';
        text-shadow: #ff9d9d 1px 3px 10px; }
  #root .react-calendar {
    width: 100%;
    max-width: 850px;
    margin: auto;
    border: 0;
    border-left: 0;
    border-right: 0;
    overflow: hidden;
    background-color: #fdf0f0;
    font-family: 'OKDDUNG';
    margin-bottom: 100px;
    padding-bottom: 10px; }
    #root .react-calendar .react-calendar__tile {
      height: 125px; }
      #root .react-calendar .react-calendar__tile--now {
        border-radius: 5px; }
    #root .react-calendar abbr {
      transition: .5s;
      font-family: 'OKDDUNG';
      color: #4b1010a6; }
    #root .react-calendar .react-calendar__viewContainer {
      padding: 0 40px; }
    #root .react-calendar .react-calendar__navigation {
      height: 150px;
      border-bottom: 3px solid #390000;
      background-color: #fdf0f0;
      padding: 0 40px; }
      #root .react-calendar .react-calendar__navigation .react-calendar__navigation__label {
        font-size: 30px;
        color: #000;
        text-shadow: #fff 3px 1px 10px; }
      #root .react-calendar .react-calendar__navigation button {
        font-family: initial; }
      #root .react-calendar .react-calendar__navigation .react-calendar__navigation__arrow {
        font-size: 3em; }
    #root .react-calendar .react-calendar__navigation__label__labelText {
      font-family: 'OKDDUNG'; }
    #root .react-calendar .react-calendar__month-view__weekdays__weekday {
      font-size: 22px; }
    #root .react-calendar .react-calendar__month-view__days__day abbr {
      font-size: 16px; }
    #root .react-calendar .react-calendar__tile--active {
      background: #ff9d9d;
      border-radius: 10px; }
    #root .react-calendar .calendar-dot {
      margin: 5px 0;
      background: #ff9d9d;
      border-radius: 10px;
      width: 100%;
      height: 10px; }
    #root .react-calendar .react-calendar__tile:enabled:hover, #root .react-calendar .react-calendar__tile:enabled:focus {
      background-color: #b2d3ff;
      border-radius: 10px; }
      #root .react-calendar .react-calendar__tile:enabled:hover abbr, #root .react-calendar .react-calendar__tile:enabled:focus abbr {
        display: block;
        color: #ff9d9d;
        text-shadow: 3px 0px 5px #000;
        transform: rotate(15deg) scale(1.5); }
  #root .calendar-modal {
    border: 0;
    box-shadow: 2px 3px 5px #000;
    border-radius: 5px; }
    #root .calendar-modal h2 {
      font-family: "OKDDUNG";
      text-shadow: 3px 0px 5px #ffcc6c; }
    #root .calendar-modal ul {
      padding: 20px 20px;
      width: 100%;
      margin: auto; }
      #root .calendar-modal ul li {
        display: block; }
        #root .calendar-modal ul li .line {
          position: relative;
          width: 100%;
          margin: 50px 0; }
          #root .calendar-modal ul li .line input {
            font-size: 15px;
            color: #222;
            width: 100%;
            border: none;
            border-bottom: solid #aaa 1px;
            padding-bottom: 10px;
            padding-left: 10px;
            position: relative;
            background: none;
            z-index: 5; }
          #root .calendar-modal ul li .line input::placeholder {
            color: #aaa; }
          #root .calendar-modal ul li .line input:focus {
            outline: none; }
          #root .calendar-modal ul li .line span {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0%;
            background-color: #666;
            width: 0;
            height: 2px;
            border-radius: 2px;
            transition: 0.5s; }
          #root .calendar-modal ul li .line label {
            position: absolute;
            color: #aaa;
            left: 10px;
            font-size: 20px;
            bottom: 8px;
            transition: all .2s; }
          #root .calendar-modal ul li .line input:focus ~ label, #root .calendar-modal ul li .line input:valid ~ label {
            font-size: 16px;
            bottom: 40px;
            color: #4b1010a6;
            font-weight: bold; }
          #root .calendar-modal ul li .line input:focus ~ span, #root .calendar-modal ul li .line input:valid ~ span {
            width: 100%; }
    #root .calendar-modal .btnArea button {
      background-color: #ff9d9d; }
  #root .cover-box-test {
    width: 100%;
    height: 300px; }
    #root .cover-box-test button {
      border: 0;
      display: block;
      margin: auto;
      max-width: 300px;
      font-size: 25px;
      border-radius: 10px;
      box-shadow: 2px 0px 2px #000;
      padding: 10px;
      background-color: #ff9d9d;
      font-family: "OKDDUNG"; }
    #root .cover-box-test .question {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
    #root .cover-box-test h3 {
      width: 100%;
      font-size: 25px;
      text-align: center;
      margin: 20px 0; }
      #root .cover-box-test h3 b.userId {
        font-size: 1.5em;
        letter-spacing: 1px;
        color: #4b1010a6; }
    #root .cover-box-test .answer .test-view {
      height: 350px; }
      #root .cover-box-test .answer .test-view-description {
        margin-bottom: 10px;
        font-size: 25px; }
        #root .cover-box-test .answer .test-view-description .question {
          font-family: "OKDDUNG";
          font-size: 0.9em; }
      #root .cover-box-test .answer .test-view-box {
        padding-top: 20px; }
        #root .cover-box-test .answer .test-view-box-input {
          position: relative;
          width: 80%;
          margin: 30px auto;
          width: 70%;
          max-width: 700px; }
          #root .cover-box-test .answer .test-view-box-input input {
            font-size: 15px;
            color: #222;
            width: 100%;
            border: none;
            border-bottom: solid #aaa 1px;
            padding-bottom: 10px;
            padding-left: 10px;
            position: relative;
            background: none;
            z-index: 5; }
          #root .cover-box-test .answer .test-view-box-input input::placeholder {
            color: #aaa; }
          #root .cover-box-test .answer .test-view-box-input input:focus {
            outline: none; }
          #root .cover-box-test .answer .test-view-box-input span {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0%;
            background-color: #666;
            width: 0;
            height: 2px;
            border-radius: 2px;
            transition: 0.5s; }
          #root .cover-box-test .answer .test-view-box-input label {
            position: absolute;
            color: #aaa;
            left: 10px;
            font-size: 20px;
            bottom: 8px;
            transition: all .2s; }
          #root .cover-box-test .answer .test-view-box-input input:focus ~ label, #root .cover-box-test .answer .test-view-box-input input:valid ~ label {
            font-size: 16px;
            bottom: 40px;
            color: #4b1010a6;
            font-weight: bold; }
          #root .cover-box-test .answer .test-view-box-input input:focus ~ span, #root .cover-box-test .answer .test-view-box-input input:valid ~ span {
            width: 100%; }
      #root .cover-box-test .answer .test-view-question {
        font-size: 1.5em;
        color: #4b1010a6;
        font-family: "TheJamsil"; }
        #root .cover-box-test .answer .test-view-question::before {
          content: "Question : ";
          color: #000;
          font-family: initial;
          font-weight: 700;
          font-size: 0.7em;
          word-break: keep-all; }
  #root form ul li {
    display: flex;
    margin: 5px 0; }
    #root form ul li label {
      width: 40%;
      margin-right: 10px; }
  #root footer {
    border-top: 2px solid #dddcdc;
    height: 125px; }
    #root footer .max_container {
      width: 100%;
      height: 100%;
      margin: auto;
      max-width: 1400px; }
    #root footer .logo {
      width: 15%;
      height: 100%;
      justify-content: center; }
      #root footer .logo a {
        font-size: 45px; }

.description {
  background: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  position: absolute;
  font-size: 10px;
  left: 50%;
  top: 105%;
  transform: translateX(-50%);
  padding: 5px 10px;
  display: none;
  z-index: 99;
  white-space: nowrap; }

.btnArea {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end; }
  .btnArea .button,
  .btnArea input[type="submit"],
  .btnArea input[type="reset"] {
    min-width: 75px;
    padding: 8px 3px;
    margin: 0 4px;
    background-color: #babfff;
    border-radius: 7px;
    font-weight: 700;
    border: 0;
    font-family: 'TheJamsil';
    font-size: 14px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #888; }

.closeBtn {
  border: 0;
  background: 0;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 20px;
  height: 20px;
  font-size: 0;
  cursor: pointer; }
  .closeBtn::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #000;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%) rotate(45deg); }
  .closeBtn::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #000;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%) rotate(-45deg); }

.adminSide {
  position: fixed;
  border-radius: 10px;
  bottom: 20px;
  right: 120px;
  z-index: 9999; }
  .adminSide .btnArea button {
    background: #0009;
    color: #fff; }

aside {
  position: fixed;
  bottom: 0px;
  right: 30px; }
  aside .aside-icon {
    text-align: center;
    height: 100px;
    width: 85px;
    position: relative;
    z-index: 99; }
    aside .aside-icon ul {
      position: absolute;
      width: 100%;
      transition: .5s;
      transition-property: top, opacity,width,height;
      z-index: -1;
      top: 50%;
      opacity: 0; }
      aside .aside-icon ul li {
        top: 0;
        border-radius: 10px;
        background-color: #fff;
        margin: 10px auto;
        width: 100%;
        cursor: pointer;
        box-shadow: 3px 0px 5px #000;
        font-size: 26px; }
      aside .aside-icon ul.on {
        width: 100%;
        height: auto;
        top: 0%;
        opacity: 1;
        display: block; }
    aside .aside-icon > span {
      display: block;
      background: #fff;
      box-shadow: 3px 1px 5px #000;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10px; }
      aside .aside-icon > span button {
        background-color: transparent;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        border: 0;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center; }
        aside .aside-icon > span button img {
          display: block;
          width: 80%;
          height: 80%; }
  aside .aside-content {
    position: absolute;
    width: auto;
    right: -200%;
    bottom: 20px;
    border-radius: 10px;
    transition: 1s;
    opacity: 0;
    box-shadow: 5px 0 10px #999; }
    aside .aside-content > li {
      width: 100%;
      transition: .5s;
      z-index: -1; }
    aside .aside-content.active {
      right: 120%;
      opacity: 1; }
      aside .aside-content.active li {
        z-index: 1;
        left: 100%; }
        aside .aside-content.active li.on {
          opacity: 1; }
  aside .likes-cover .like {
    width: 90%; }

.likes-cover {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background: #fff; }
  .likes-cover h2 {
    font-size: 35px;
    font-weight: 700;
    text-shadow: 1px 1px 1px #000;
    margin-bottom: 10px; }
  .likes-cover .like {
    max-width: 1150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 70%;
    padding-bottom: 20px; }
    .likes-cover .like-description {
      font-size: 1.5em;
      margin-bottom: 20px; }
    .likes-cover .like li {
      margin: auto;
      padding: 25px 0;
      width: 17%;
      background-color: #fff;
      border-radius: 10px; }
      .likes-cover .like li:hover a {
        transition: 3;
        transform: scale(1.2); }
      .likes-cover .like li:hover .like_hit::after {
        background: #ff9b38;
        box-shadow: 1px 1px 2px #000;
        animation: like-hit .5s linear .1s 1 normal forwards; }
      .likes-cover .like li a {
        display: block;
        font-size: 40px; }
      .likes-cover .like li .like_hit {
        transition: .5s;
        position: relative;
        font-family: initial;
        font-weight: 700;
        font-size: 1.3em;
        color: #1f222a; }

@keyframes like-hit {
  0% {
    left: -10%;
    width: 0; }
  100% {
    left: -10%;
    width: 120%; } }

@keyframes myName-right {
  0% {
    transform: rotate3d(0.1, 0.7, 0.5, 120deg);
    right: 45%;
    opacity: 0; }
  100% {
    transform: rotate3d(1, 1, 1, 0deg);
    opacity: 1;
    right: 0; } }

.modal-background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  display: none; }
  .modal-background.on {
    display: block; }
    .modal-background.on .modal {
      animation: modal .5s linear .1s 1 normal forwards; }
  .modal-background .modal {
    min-width: 35%;
    width: auto;
    opacity: 0;
    position: absolute;
    border-radius: 15px;
    padding: 2% 1.5%;
    left: 50%;
    top: -20%;
    background: #fff;
    transform: translateX(-50%);
    border: 1px solid #000; }
    .modal-background .modal h2 {
      margin: 0 0 10px !important; }
      .modal-background .modal h2::before {
        content: "" !important;
        margin-right: 5px;
        font-size: 0.7em !important;
        transform: rotate(-360deg) !important; }
    .modal-background .modal p b {
      font-size: 1.5em;
      color: #ff3a3a; }

@keyframes modal {
  0% {
    top: -20%;
    opacity: 0; }
  100% {
    top: 10%;
    opacity: 1; } }
