// mobile
$main: #babfff;

@media screen and (max-width:768px) {
    $mobile : 768px;
    #root {
        .logo {
           display:none;
        }
        &:has(.container2.index) {
            header {
                .header {
                    .hambuger-menu {
                        color:#fff;
                    }
                }
            }
        }
        .memo-icon {
            right: 3%;
            top:inherit;
            bottom: 3%;
            $w:60px;
            width: $w;
            height:$w;
            font-size:30px;
            background:#333;
            color:rgb(247, 247, 127);
            box-shadow:  2px 0 5px #aaa;
        }
        header {
            $font_c: #fff;
            background-color: transparent;
    
            &.on {
                background-color: transparent;
    
                .header-nav {
                    .hambuger-menu {
                        color:#fff;
                    }
                    &-menu {
                        li {
                            a {
                                color: #fff;
                                text-shadow: none;
                            }
                        }
                    }
                }
    
                b {
                    color: #fff;
                    text-shadow: none;
                }
    
                
            }
    
            .header {
                max-width: $mobile;
                &-nav {
                    .hambuger-menu {
                        position: absolute;
                        top: 50%;
                        left: 3%;
                        color: #333;
                        font-size: 40px;
                        transform: translateY(-50%);
                    }
                    &-menu {
                        flex-wrap:wrap;
                        position:absolute;
                        top:0;
                        z-index: 1111;
                        left:-100%;
                        background:#333;
                        width:100%;
                        height:100vh;
                        padding: 175px 0 120px;
                        &.on {
                            left:0;
                        }
    
                        >li {
                            width:100%;
                            &.closeBtn {
                                min-width:inherit;
                                width:30px;
                                right: 5px;
                                &::after,&::before {
                                    background-color:#fff;
                                }
                            }
                            a {
                                color: $font_c;
                                text-align: center;
                                display: block;
                                width: 100%;
                                height: 100%;
                                transition: .5s;
                                font-size: 23px;
                                font-weight: 700;
                            }
                            &:has(.login-box) {
                                position:absolute;
                                top:1%;
                                left:1%;
                                width:50%;
                                // border:1px solid #fff;
                                .login-box {
                                    position:relative;
                                    background:transparent;
                                    transform: inherit;
                                    display:block;
                                    li {
                                        display:block;
                                        padding: 5px 0;
                                        b {
                                            color:#fff !important;
                                            font-size:19px;
                                        }
                                        &.icon-box {
                                            li {
                                                width:10%;
                                                min-width:auto;
                                                a {
                                                    font-size:17px;
                                                    text-align: left;
                                                    color:#fff !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                             
    
                            &:hover {
                                a {
                                    transform: scale(1.2);
                                    font-weight: 700;
                                }
                            }
                        }
                    }


                }
                .login-box {
                    max-width:inherit;
                    padding:  10px 5px;
                    li {
                        &.id {
                            b {
                                font-size:17px;
                            }
                        }
                    }
                    .icon-list {

                        li {
                            a {
                                font-size:17px;
                            }
                            
                            b{
                                font-size: 20px;
                            }
                        }
                        }
                }
            }
    
       
        }
    
        .container2 {
    
            .content-cover {
                max-width: $mobile;
            }
        }
    
    
    
        .container-normal {
            max-width: $mobile;
            margin-top: 100px;
            padding: 0 10px;
    
            h2 {
                margin: 4% 0 2%;
                font-size: 25px;
    
                &::before {
                    transform: rotate(-50deg);
                    display: block;
                }
            }
        }
    
        .onePage {
            min-height: 500px;
            margin: auto;
    
            @media screen and (min-width:1820px) {
                padding: 2% 0;
            }
    
        }
    
        h1 {
            font-weight: 100;
        }
    
    
    
        section {
            width: 100%;
            overflow: hidden;
    
            article {
                margin: auto;
                height: 100%;
                position: relative;
    
                h2 {
                    font-size: 40px;
                    margin: 10px 0 20px;
                }
    
                &.section-pad {
                    position: relative;
    
                }
    
                .imgBox {
    
                    img {
                        max-width: 100%;
                    }
    
                    a {
                        display: none;
                    }
                }
            }
    
            &#section {
                &1 {
                    height: 100vh;
                    article {
                        .textbox {
                            top:45%;
                            width: 75%;
    
                            h2 {
                                font-size: 12vw;
                            }
    
                            p {

                                font-size: 6vw;
                            }
                        }
    
    
                        .imgBox {
                            position: relative;
                            min-width: 750px;
                            width: 50%;
    
                            img {
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                position: absolute;
                                width: 100%;
                            }
                        }
                    }
                }
     
                &4 {
                    padding: 10px 0;
                    background: rgba(170, 176, 255, 0.35);
    
    
                    article {
                        max-width: initial;
                        padding: 0;
    
                        .list {
                            display: flex;
                            padding: 0 3%;
    
                            .flex-box {
                                width: 100%;
                                flex-wrap:wrap;
    
                                .imgBox {
                                    width: 50%;
                                    height: 250px;
                                    overflow: hidden;
                                    position: relative;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
    
    
                                    &:hover {
                                        $w: 10px;
                                        $h: $w;
                                        $t: 10px;
                                        $l: 10px;
    
                                        &::before {
                                            content: "";
                                            // border-radius: 10px;
                                            display: block;
                                            position: absolute;
                                            width: $w;
                                            height: $h;
                                            top: $t;
                                            left: $l;
                                        }
    
                                        &::after {
                                            content: "";
                                            // border-radius: 10px;
                                            display: block;
                                            position: absolute;
                                            width: $w;
                                            height: $h;
                                            bottom: $t;
                                            right: $l;
                                        }
    
                                        border-radius:5px;
    
                                        img {
                                            background: transparent;
                                            transform: scale(1.1);
                                            opacity: 1;
                                        }
    
                                        h3 {
                                            color: transparent;
                                            opacity: 0;
                                            width: 0;
                                            height: 0;
    
                                            &::after {
                                                opacity: 0;
                                            }
                                        }
                                    }
    
                                    img {
                                        padding: 6%;
                                        transition: .5s;
                                        display: block;
                                        margin: auto;
                                        max-width: 150px;
                                        opacity: 0;
                                    }
    
                                    h3 {
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        font-weight: 700;
                                        font-size: 32px;
                                        transition: .5;
    
                                        &::after {
                                            content: "";
                                            transition: .5s;
                                            position: absolute;
                                            left: 50%;
                                            top: 55%;
                                            transform: translateX(-50%);
                                            z-index: -1;
                                            display: block;
                                            width: 130%;
                                            height: 30%;
                                            background: rgba(170, 176, 255, 1);
                                        }
    
                                    }
                                }
                            }
                        }
    
                    }
                }
            }
        }
     
        .login {
            $b: 1px solid #cecdcd;
            width: 65%;
            padding: 3%;
    
            h2 {
                font-size:30px;
            }
    
            .loginForm {
                width: 95% !important;
                margin: auto;
    
                ul {
                    border: $b;
                    border-radius: 5px;
    
                    li {
                        $w: 10%;
                        padding: 10px 15px;
    
                        label {
                            width: $w;
                            font-size: 19px;
                            text-align: center;
                        }
    
                        input {
                            font-size: 19px;
                            width: 100% - $w;
                            border: 0;
                            padding-left: 1%;
                            background: transparent;
                        }
    
                        &:first-of-type {
                            border-bottom: $b;
                        }
                    }
                }
            }
    
            .supplementary-services {
                margin: 20px auto 0;
                width: 100%;
    
                a {
                    display: inline-block;
                    width: 33.3%;
                    border-left: 1px solid #cdcdcd;
                    color: rgba(68, 68, 68, 0.4);
                    letter-spacing: -1px;
                    text-align: center;
                    font-size: 14px;
    
                    &:first-of-type {
                        border: 0;
                    }
    
                    &:hover {
                        color: #000;
                        font-weight: 700;
                    }
                }
            }
        }
    
        .register {
            padding: 2% 30px 100px;
            max-width: 1400px;
            $b: 1px solid #cecdcd;
    
            h2 {
                margin-bottom: 30px;
            }
    
            &-ui {
                width: 100%;
                margin: 0 auto;
                border-bottom: $b;
    
                li {
   
                    &.gender {
                        .gender-box {
                            // display:flex;
                            width: 30%;
    
    
                            input {
                                width: 17px;
                            }
                        }
                    }
    
    
    
    
                    $label-w :30%;
    
                    label {
                        width: $label-w;
                        margin: 0;
                        padding-left: 2%;
                        display: flex;
                        align-items: center;
    
                        span {
                            &::before {
                                content: "▶";
                                margin-right: 20px;
                            }
    
                            padding-left:6%;
                            width:100%;
                        }
                    }
    
                    .insert-box {
                        padding-left: 3%;
                        width: 100% - $label-w;
    
                        input {
                            width: 70%;
                            font-size: 18px;
                            padding-left: 1%;
                            margin: 0;
                        }
                    }
                }
            }
    
            .btnArea {
                margin-top: 30px;
            }
    
    
    
        }
    
        .myName {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 99;
            transform: translate(-50%, -50%);
            display: flex;
            font-size: 100px;
            font-weight: 400;
    
            div {
                margin: 0 15px;
                position: relative;
                z-index: -1;
            }
        }
    
        .myPage {
            width: 80%;
            overflow: hidden;
    
            li {
                $b: 1px solid rgba(68, 68, 68, 0.4);
                display: flex;
    
                p {
                    font-size: 16px;
    
                    &:first-of-type {
                    }
    
                    &:last-of-type {
                    }
                }
            }
    
        }
    
        .board {
            width: 100%;
            min-height: 500px;
            height: auto;
            padding-bottom: 100px;
    
            &-Mini {
                padding-top: 50px;
                width: 90%;
                margin: auto;
                margin-bottom: 0px !important;
                padding-bottom: 0px !important;
            }
    
    
    
            &-type {
                &-board {
                    position: relative;
    
                    ul {
                        width: 100%;
                        overflow: hidden;
    
                        li {
                            &.tag_name {
                                padding-left: 2%;
                            }
    
    
                            padding: 1% 0;
                            display:flex;
    
    
                            a {
                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
    
                                p {
                                    width: 100%;
    
                                    .reply_count {
                                        margin-left: 5px;
                                        color: #999;
                                    }
                                }
    
                                &.num {
                                    width: 10%;
                                    text-align: center;
                                }
    
                                &.subject {
                                    width: 70%;
                                    padding-left: 1%;
    
                                    p {
                                        &.time {
                                            color: #999;
                                        }
                                    }
                                }
    
                                &.user {
                                    width: 10%;
                                }
                            }
    
                            .hit {
                                display: flex;
                                align-items: center;
                                // justify-content: center;
                                text-align: center;
                                padding-left: 2%;
                                width: 10%;
                            }
                        }
                    }
    
                    table {
                        width: 100%;
                        border-collapse: collapse;
                        overflow: hidden;
    
                        tbody {
                            tr {
    
                                th {
                                    padding-bottom: 5px;
                                    text-align: center;
    
                                    &:first-of-type {
                                        width: 10%
                                    }
    
                                    &:nth-of-type(2) {
                                        width: 53%;
                                    }
    
                                    &:nth-of-type(3) {
                                        width: 17%;
                                    }
    
                                    &:nth-of-type(4) {
                                        width: 10%;
                                    }
    
                                    &:nth-of-type(5) {
                                        width: 20%;
                                    }
    
                                }
    
                                td {
                                    padding: 2px;
                                    border-bottom: 1px solid rgba(143, 142, 142, 0.5);
                                    text-align: center;
    
                                    &:nth-of-type(2) {
                                        text-align: left;
                                    }
    
                                    &:nth-of-type(2) {
                                        padding-left: 3%;
                                    }
    
                                    &:last-of-type {}
    
                                    a {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
    
                &-gallery {
                    table {
                        tbody {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-evenly;
                            align-items: center;
    
                            tr {
                                width: 26%;
                                display: flex;
                                margin-bottom: 2%;
                                flex-wrap: wrap;
                                border-radius: 5px;
                                box-shadow: 0px 0px 3px #888;
                                padding: 5px 10px;
    
                                &:first-of-type {
                                    width: 100%;
                                    display: none;
                                }
    
                                td {
                                    width: 100%;
    
                                    &.img {
                                        width: 100%;
                                        height: 100%;
    
                                        img {
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
    
                                    &.subject {
                                        a {
                                            font-size: 23px;
                                        }
                                    }
    
                                    &.user {
                                        font-size: 13px;
                                        text-align: right;
                                    }
    
                                    &.time {
                                        font-size: 13px;
                                        letter-spacing: 1px;
                                        text-align: right;
                                    }
                                }
                            }
                        }
                    }
                }
            }
    
            &-bottom {
                width: 100%;
                position: absolute;
                bottom: 0;
            }
    
            &-nav {
                display: flex;
                margin: 1% 0 0;
    
                >div {
                    margin: 0 .5%;
                    display: flex;
                }
    
                a {
                    margin: 0 1%;
    
                    // &.left {
                    //     // margin-right: 1%;
                    // }
    
                    // &.right {
                    //     // margin-left: 1%;
                    // }
                }
            }
    
            &-ui {
                width: 100%;
    
                form {
                    width: 60%;
                    margin: 20px auto;
                    box-shadow: 0px 0px 5px #888;
                    border-radius: 5px;
    
                    $padding: 10px 0;
                    $padding-l: 20px;
                    $margin-r: 15px;
                    $width: 65%;
    
                    .title {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
    
                        h2 {
                            font-size: 2em;
                            padding: $padding;
                            padding-left: $padding-l;
                        }
    
                        .admin-box {
                            display: flex;
                            justify-content: inherit;
                            padding: 0 10px;
    
                            div {
                                &.notice {
                                    display: flex;
                                    align-items: center;
    
                                    label {
                                        word-break: keep-all;
                                        padding: 5px;
                                    }
    
                                    input {
                                        min-width: 20px;
                                        margin: auto;
                                    }
                                }
                            }
                        }
                    }
    
                    ul {
                        li {
                            display: flex;
                            padding: $padding;
                            position: relative;
                            align-items: center;
                            justify-content: flex-end;
                            $border: 1px solid #999;
                            border-top: $border;
    
                            &:last-of-type {
                                border-bottom: $border
                            }
    
    
    
                            label {
                                border-radius: 5px;
                                display: block;
                                width: 100% - $width;
                                font-size: 18px;
                                text-align: center;
                                line-height: 1.5em;
                            }
    
                            input {
                                border: 1px solid #999;
                                border-radius: 5px;
                                width: $width;
                                height: 25px;
                                margin-right: $margin-r;
                            }
    
                            p {
                                width: 65%;
                            }
    
                            textarea {
                                border-radius: 5px;
                                border: 1px solid #999;
                                width: $width;
                                height: 35vh;
                                margin-right: $margin-r;
                            }
                        }
    
                    }
    
                    .btnArea {
    
                        padding: 0 20px 20px 0;
                    }
                }
            }
    
    
            &-content {
                width: 100%;
                margin: 10px auto 0;
    
                .subjectLine {
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    margin-bottom: 20px;
                    border-bottom: .5px solid #cecdcd;
                    padding: 5px 20px 10px;
                }
    
                &-sbj {
                    width: 100%;
                    padding-left: 10px;
                    font-size: 27px;
                    white-space: nowrap;
                    overflow: hidden;
                }
    
                &-right {
                    display: flex;
                    justify-content: flex-end;
                    flex-wrap: wrap;
    
                    p {
                        color: #888;
                        line-height: 2.2em;
                        font-size: 17px;
                        $space: 15px;
    
                        &.hit {
                            margin-right: $space;
                        }
    
                        &.user {
                            font-size: 17px;
                            line-height: 2.2em;
                            margin-right: $space;
                        }
    
                        &.time {
                            line-height: 2em;
                            margin-top: 5px;
                            font-size: 14px;
                        }
                    }
    
                    .btnArea {
                        width: 100%;
                    }
                }
    
                &-txt {
                    padding: 0 20px;
                    min-height: 200px;
                    height: 100%;
                    font-size: 14px;
                    white-space: pre-wrap;
                }
            }
    
            .btnArea {
                .reply-button {
                    width: 100px;
    
                    &-x {
                        width: 80px;
                    }
                }
            }
    
            .reply {
                margin: 30px 0 50px;
                background: #fafafa;
    
                &-insert {
                    margin: 20px 0;
                    padding-bottom: 10px;
                    padding-right: 2%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    $w: 13%;
    
                    p {
                        display: flex;
                        align-items: center;
                        padding-left: 3%;
                        font-size: 18px;
                        width: $w;
                    }
    
                    textarea {
                        height: 100px;
                        width: 100% - $w;
                        border: 1px solid #b3b1b1;
                        margin-bottom: 5px;
                    }
    
                    .reply-button {
                        width: 80px;
                        padding: 10px 0;
                        margin: 1% 2px 0;
                        border-radius: 10px;
                        font-weight: 700;
                        border: 0;
                        cursor: pointer;
                        box-shadow: 1px 1px 1px #888;
                    }
                }
    
                &-list {
                    .reply-info {
                        padding: 7px 0;
                        border-bottom: .5px solid #ddd;
                        width: 100%;
                        font-size: 14px;
                        display: flex;
    
                        .reply-userId {
                            padding-left: 2%;
                            font-size: 1em;
                            width: 15%;
                        }
    
                        .reply-content {
                            width: 70%;
                            padding: 0 2%;
                            margin-right: 5%;
                        }
    
                        .reply-time {
                            width: 10%;
                            font-size: 0.9em;
                            white-space: nowrap;
                        }
    
                        .reply-varValue {
                            width: 5%;
                            text-align: center;
                            position: relative;
    
                            .reply-varValue-depth {
                                display: none;
                                position: absolute;
                                z-index: 10;
                                width: 100%;
                                top: 30%;
                                left: 0;
                                background: #fff;
    
                                &.on {
                                    display: block;
                                }
    
                                li {
                                    padding: 2%;
                                    border: 1px solid #cecdcd;
                                    text-align: center;
    
                                    &:first-of-type {
                                        border-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .about {
            &-banner {
                // border: 1px solid #000;
                // background: $main;
                height: 200px;
                position: relative;
                background-image: url('../../public/img/office.jpg');
                background-size: cover;
                background-position: 600px;
    
                h3 {
                    position: absolute;
                    top: 50%;
                    color: #000;
                    text-shadow: 1px 1px 2px #fff;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 45px;
                    font-weight: 700;
                    text-align: center;
                }
            }
    
            section {
                article {
                    padding: 4% 2%;
                    max-width: 1400px;
                    margin: auto;
                    font-size: 20px;
    
                    h3 {
                        width: auto;
                        // display:inline-block;
                        font-size: 55px;
                        margin-bottom: 30px;
                        position: relative;
    
                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0%;
                            width: 8%;
                            height: 6px;
                        }
                    }
    
                    &.greetings {
                        p {
                            line-height: 2em;
                        }
                    }
    
                }
            }
        }
  
    
        .project-select {
            background:transparent;
            max-width: $mobile;
            padding:10px;
            width:70%;
            font-size:28px;
            font-weight:700;
            font-family: sans-serif;
            margin-top: 30px;
            // margin:25px auto;

        }
        .project-menu {
            height: auto;
            width: 90%;
            max-width: $mobile;
            margin: 0px auto;
            align-items: center;
            font-size: 4.2vw;
    
            li {
                padding: 5px 0;
    
                &:hover,&:focus {
                    a {
                        font-size: 1.3em;
                        text-shadow: orange 3px 1px 15px;
                    }
                }
    
                a {
                    font-size:30px;
                    font-family: sans-serif;
                    font-weight:700;
                    display:block;
                }
            }
        }
    
        .pi-view {
            max-width:$mobile;
            padding:12px;
            margin: 30px auto;
            border-radius:15px;
            h2 {
                display:initial;
                font-family: sans-serif;
                font-weight:700;
                font-size:35px;
                b.userid {
                    font-size:0.8em;
                    text-shadow:3px 0 2px #000;
                }
                &::before {
                    content: "";
                    display: none;
                }
            }
            >p {
                font-family:sans-serif;
                font-size:25px;
                color:#aaa;
                font-weight:400;
            }
            .select-box {
                margin-top:50px;
                select {
                    width:45%;
                }
            }
            .box {
                margin: 50px 0;
            }
            .pi-createbtn {
                border:0;
                font-size: 20px;
                font-weight: 700;
                border-radius:5px;
                min-width:75px;
                padding: 10px 20px;
                box-shadow: 1px 1px 1px #888;
                cursor:pointer;
            }
            .calendar-box {
                max-width:400px;
                width:100%;
                background-color: #fff;
                border:1px solid #aaa;
                padding:10px;
                &.on {
                    display: block;
                }
                p.date-view {
                    margin: 10px 0;
                    font-size:15px;
                    
                }
            }
            .react-calendar-insert {
               border:0;
               width:100%;
               .react-calendar__tile--active {
                background-color: inherit;
                color:inherit;
               }
               .react-calendar__tile--now:enabled:hover, .react-calendar__tile--now:enabled:focus, .react-calendar__tile--now {
                background-color: inherit;
               }
    
            }
        }
    
    
        .react-calendar-main {
            $border: 3px solid #390000;
            $bgc:transparent;
            $todaycolor: #ac5600;
    
            width: 100%;
            max-width: 850px;
            margin: auto;
            border: 0;
            border-left: 0;
            border-right: 0;
            overflow: hidden;
            // background-color: $bgc;
            font-family: inherit;
            padding-bottom: 50px;
            .react-calendar__month-view__weekdays__weekday {
                abbr {
                    font-family: sans-serif;
                    text-decoration: none;
                    font-weight:700;
                    color:#000;
                }
            }
            .react-calendar__month-view__days{
                background-color:#fff1e3;
                border-radius: 10px;
            }
            .react-calendar__tile {
                height: 125px;
                padding:0;
                position:relative;
            
                abbr {
                    color:#c4c4c4;
                }
    
                &:has(div.dateBg) {
                    $border: 1px dashed #3e0000;
                    background-color:rgb(255, 223, 190);
                    border-top: $border;
                    border-bottom:$border;
                    abbr {
                        
                    }
    
                }
                &:has(div.dateBg.start) {
                    border-left:$border;
                    abbr {
                        // color:#fff;
                    }
                }
                &:has(div.dateBg.today) {
                    &::before {
                        top:48%;
                    }
                    .dateBg {
                        background:transparent;
                    }
                    abbr {
                        color:#fff;
                    }
                }
                &:has(div.dateBg.start.today) {
                    &::before {
                        top:48%;
                    }
                    abbr{
                        color:#fff;
                    }
                }
                &:has(div.dateBg.last) {
                    border-right:$border;
                }
                &
                &:has(div.dateBg.exe) {
                  
                    .dateBg.exe {
                        background:rgb(248, 158, 55);
                    }
                    abbr {
                        color:#333;
                    }
                }
                &--now.react-calendar__month-view__days__day {
                    // background-color:#ffbf8f;
                    abbr {
                        color:#fff
                    }
                    &::after {
                        content:"today";
                        font-size:0.9em;
                        display:block;
                        color:$todaycolor;
                        position:absolute;
                        top:73%;
                        left:50%;
                        transform:translate(-50%,-50%);
                    }
                    &::before {
                        content:"";
                        width:35px;
                        height:35px;
                        border-radius:50%;
                        background:#1e3932;
                        position:absolute;
                        left:50%;
                        top:50%;
                        transform: translate(-50%,-50%);
                    }
                    &:has(.dateBg.today) {
                        &::after {
                            display:none;
                        }
                    }
                }
            }
            abbr {
                transition: .5s;
                font-family: 'OKDDUNG';
                position:relative;
                z-index: 3;
            }
    
            .dateBg {
                width:30%;
                height:5px;
                z-index: 1;
                margin:auto;
                border-radius:15px;
            }
            .dateBg.today {
                background:$todaycolor;
                &::after {
                    content:"today";
                    font-size:0.9em;
                    display:block;
                    color:$todaycolor;
                    position:absolute;
                    top:73%;
                    left:50%;
                    transform:translate(-50%,-50%);
                }
            }
            .dateBg.start {
                &::after {
                    content:"start";
                    font-size:0.9em;
                    display:block;
                    color:#333;
                    position:absolute;
                    top:73%;
                    left:50%;
                    transform:translate(-50%,-50%);
                }
            }
            .dateBg.start.today {
                background:none;
                &::before {
                    content:"today";
                    font-size:0.9em;
                    display:block;
                    color:$todaycolor;
                    position:absolute;
                    top:88%;
                    left:50%;
                    transform:translate(-50%,-50%);
                }
            }
            .dateBg.last {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                &::after {
                    content:"end";
                    font-size:0.9em;
                    display:block;
                    color:#333;
                    position:absolute;
                    top:73%;
                    left:50%;
                    transform:translate(-50%,-50%);
                }
            }
    
            .dateBg.exe {
                background:#1e3932;
                .exe_box {
                    position:absolute;
                    top:3%;
                    left:5%;
                    border-radius:50%;
                    font-size:18px;
                    color:#1e3932;
    
                }
            }
    
            $calendar_p :40px;
    
            .react-calendar__viewContainer {
                padding: 10px 0 0;
                background:#fff1e3;
    
            }
    
            .react-calendar__navigation {
                margin-top:20px;
                height: 100px;
                margin-bottom:10px;
                // border:0;
    
                .react-calendar__navigation__label {
                    &__labelText {

                        font-size: 40px;
                        font-family: sans-serif;
                        font-weight: 700;
                    }
                }
    
                button {
                    font-family: initial;
                }
    
                .react-calendar__navigation__arrow {
                    font-size: 3em;
                }
            }

    
            .react-calendar__month-view__weekdays__weekday {
                font-size: 22px;
            }
    
            .react-calendar__month-view__days__day {
                abbr {
                    font-size: 16px;
                }
            }
    
            $radius: 10px;
            .react-calendar__tile--active {
                background: transparent;
            }
            .react-calendar__tile--active:has(.dateBg) {
                abbr {
                }
            }
    
            .react-calendar__tile:enabled:hover:has(.dateBg),
            .react-calendar__tile:enabled:focus:has(.dateBg) {
                background-color: rgb(178, 211, 255) !important;
    
                abbr {
                    display: block;
                    text-shadow: 3px 0px 5px #000;
                    transform: rotate(15deg)scale(1.5)
                }
                .dateBg {
                    height:0;
                }
            }
        }
        .textarea {
            margin-top:30px;
            textarea {
                width:100%;
                height:100%;
                min-height:150px;
                border:0;
                outline:none;
                background-color:#fff;
                font-size:17px;
                font-weight:100;
                padding:10px;
                border-radius:5px;
            }
        }
    
        .calendar-modal {
            width: 85%;
            max-width: $mobile;
            height: 90%;
            .logo_title {
                display:flex;
                align-items: center;
                margin-bottom:20px;
                .logo {
                    display:block;
                    a {
                        color:$main;
                        text-shadow: 3px 0 5px #000;
                    }
                }
                h2{
                    font-size:25px;
                    margin:5px 0 0 15px !important;
                }
            }
            .date {
                position:absolute;
                font-family: cursive;
                top: 10%; 
                right:2%;
                font-size:20px;
                color:#666;
            }
            h2 {
                font-size:40px;
            }
    
            .execution-insert-view {
                li {
                    width:90%;
                    margin: 10px auto;
                    .line {
                        margin-top:40px;
                        margin-bottom:10px;
                    }
                    .textarea {
                        margin-top:30px;
                        textarea {
                            width:100%;
                            height:100%;
                            min-height:220px;
                            border:0;
                            outline:none;
                            background-color:#faebeb;
                            font-size:17px;
                            font-weight:100;
                            padding:10px;
                            border-radius:10px;
                        }
                    }
                }
            }
            .execution-look-view {
                margin-top:10px;
                li {
                    position:relative;
                    border: 1px solid #b3b1b1;
                    border-radius:15px;
                    width:95%;
                    margin: 10px auto 20px;
                 .line {
                    margin-bottom:10px;
                    
                    &:nth-of-type(2) {
                        margin-top: 20px;
                            textarea {
                                width:100%;
                                height:100%;
                                min-height:200px;
                                font-size:17px;
                                font-weight:100;
                                padding:10px;
                                border-radius:5px;
                            }
                    }
                 }
    
                    p {
                        font-size:17px;
                        border-radius:10px;
                        &.execution{
                            $c: #888;
                            &-subject {
                                &::before {
                                    content:"제목";
                                    word-break:keep-all;
                                    color:$c;
                                    display:block;
                                    padding-right:15px;
                                }
                            }
                            &-content {
                                min-height: 100px;
                                &::before {
                                    content:"내용";
                                    word-break:keep-all;
                                    color:$c;
                                    display:block;
                                    padding-right:15px;
                                }
                            }
                        }
                    }
                    button {
                   
                        &.achieve-button {
                            background:#fff;
                            color:#999;
                            border:0;
                            box-shadow:none;
                            margin: 5px 5px;
                            font-size:15px;
                            &.active {
                                cursor:inherit;
                            
                            }
                        }
                        cursor:pointer;
                        &:hover {
                        }
    
                    }
                }
            }
            ul {
                padding: 0;
                width: 100%;
                margin: auto;
    
                &.behavior-list {
                    li {
                        $px: 1px;
                        border-bottom: $px solid #aaa;
                        margin: 15px;
    
                        &:hover {
                            a {
                                color: #666;
                                font-size: 22px;
    
                                &::after {
                                    content: "";
                                    border-bottom: $px solid #666;
    
                                    width: 100%;
    
                                }
                            }
                        }
    
                        a {
                            position: relative;
                            transition: .5s;
                            padding: 15px;
                            color: #aaa;
                            display: block;
                            font-size: 20px;
    
                            &::after {
                                content: "";
                                padding: 0;
                                position: absolute;
                                top: 0;
                                left: 0;
                                display: block;
                                width: 0%;
                                height: 100%;
                                transition: .5s;
                            }
                        }
                    }
                }
    
                li {
                    display: block;
                    .line {
                        position: relative;
                        width: 100%;
                        margin: 50px 0;
    
                        $font: 25px;
    
                        input {
                            font-size: 15px;
                            color: #222;
                            width: 100%;
                            border: none;
                            border-bottom: solid #aaa 1px;
                            padding-bottom: 10px;
                            padding-left: 10px;
                            position: relative;
                            background: none;
                            z-index: 5;
                        }
    
                        input::placeholder {
                            color: #aaa;
                        }
    
                        input:focus {
                            outline: none;
                        }
    
                        span {
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: 0%;
                            background-color: #666;
                            width: 0;
                            height: 2px;
                            border-radius: 2px;
                            transition: 0.5s;
                        }
    
                        label {
                            position: absolute;
                            color: #aaa;
                            left: 10px;
                            font-size: 20px;
                            bottom: 8px;
                            transition: all .2s;
                        }
    
                        input:focus~label,
                        input:valid~label {
                            font-size: 16px;
                            bottom: 40px;
                            font-weight: bold;
                        }
    
                        input:focus~span,
                        input:valid~span {
                            width: 100%;
                        }
                    }
                }
            }
    
          
        }
        .cover-box-calendar {
            .btnArea {
                button {
                    background:#0009;
                    color:#fff;
                    font-size:18px;
                }
            }
        }
    
        .cover-box-test {
            width: 100%;
            height: 300px;
    
            button {
                border: 0;
                display: block;
                margin: auto;
                max-width: 300px;
                font-size: 25px;
                border-radius: 10px;
                box-shadow: 2px 0px 2px #000;
                padding: 10px;
            }
    
            .question {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
            }
    
            h3 {
                width: 100%;
                font-size: 25px;
                text-align: center;
                margin: 20px 0;
    
                b.userId {
                    font-size: 1.5em;
                    letter-spacing: 1px;
                }
            }
    
            .answer {
                .test-view {
                    height: 350px;
    
                    &-container {}
    
                    &-description {
                        margin-bottom: 10px;
                        font-size: 25px;
    
                        h3 {}
    
                        .question {
                            font-size: 0.9em;
                        }
                    }
    
                    &-box {
                        padding-top: 20px;
    
                        &-input {
                            margin: 30px auto;
                            width: 70%;
                            max-width: 700px;
                        }
                    }
    
                    &-firstbox {}
    
                    &-last-box {}
    
                    &-question {
                        &::before {
                            content: "Question : ";
                            color: #000;
                            font-family: initial;
                            font-weight: 700;
                            font-size: 0.7em;
                            word-break: keep-all;
                        }
    
                        font-size:1.5em;
                    }
                }
            }
        }
    
        form {
    
    
            ul {
                li {
                    display: flex;
                    margin: 5px 0;
    
                    label {
                        width: 40%;
                        margin-right: 10px
                    }
    
                    input {}
                }
            }
        }
    
    }
    aside {
        display:none;
    }
    .likes-cover {
        padding: 10px 0;
        .like {
            max-width: $mobile;
            flex-wrap:wrap;

            width: 80%;
            padding-bottom: 50px;
    
            &-description {
                margin-bottom: 30px;
            }
    
            li {
                margin: 10px auto;
                padding: 35px 0;
                width: 42%;
                border-radius: 5px;
    
                a {
                    font-size: 50px;
                }
    
            }
        }
    }

    
}