@charset "UTF-8";
@media screen and (max-width: 768px) {
  #root .logo {
    display: none; }
  #root:has(.container2.index) header .header .hambuger-menu {
    color: #fff; }
  #root header {
    background-color: transparent; }
    #root header.on {
      background-color: transparent; }
      #root header.on .header-nav .hambuger-menu {
        color: #fff; }
      #root header.on .header-nav-menu li a {
        color: #fff;
        text-shadow: none; }
      #root header.on b {
        color: #fff;
        text-shadow: none; }
    #root header .header {
      max-width: 768px; }
      #root header .header-nav .hambuger-menu {
        position: absolute;
        top: 50%;
        left: 3%;
        color: #333;
        font-size: 40px;
        transform: translateY(-50%); }
      #root header .header-nav-menu {
        flex-wrap: wrap;
        position: absolute;
        top: 0;
        z-index: 1111;
        left: -100%;
        background: #333;
        width: 100%;
        height: 100vh;
        padding: 125px 0 110px; }
        #root header .header-nav-menu.on {
          left: 0; }
        #root header .header-nav-menu > li {
          width: 100%; }
          #root header .header-nav-menu > li.closeBtn {
            min-width: inherit;
            width: 30px;
            right: 5px; }
            #root header .header-nav-menu > li.closeBtn::after, #root header .header-nav-menu > li.closeBtn::before {
              background-color: #fff; }
          #root header .header-nav-menu > li a {
            color: #fff;
            text-align: center;
            display: block;
            width: 100%;
            height: 100%;
            transition: .5s;
            font-size: 23px;
            font-weight: 700; }
          #root header .header-nav-menu > li:has(.login-box) {
            position: absolute;
            top: 1%;
            left: 1%;
            width: 50%; }
            #root header .header-nav-menu > li:has(.login-box) .login-box {
              position: relative;
              background: transparent;
              transform: inherit;
              display: block; }
              #root header .header-nav-menu > li:has(.login-box) .login-box li {
                display: block;
                padding: 5px 0; }
                #root header .header-nav-menu > li:has(.login-box) .login-box li b {
                  color: #fff !important;
                  font-size: 19px; }
                #root header .header-nav-menu > li:has(.login-box) .login-box li.icon-box li {
                  width: 10%;
                  min-width: auto; }
                  #root header .header-nav-menu > li:has(.login-box) .login-box li.icon-box li a {
                    font-size: 17px;
                    text-align: left;
                    color: #fff !important; }
          #root header .header-nav-menu > li:hover a {
            transform: scale(1.2);
            font-weight: 700; }
      #root header .header .login-box {
        max-width: inherit;
        padding: 10px 5px; }
        #root header .header .login-box li.id b {
          font-size: 17px; }
        #root header .header .login-box .icon-list li a {
          font-size: 17px; }
        #root header .header .login-box .icon-list li b {
          font-size: 20px; }
  #root .container2 .content-cover {
    max-width: 768px; }
  #root .container-normal {
    max-width: 768px;
    margin-top: 90px;
    padding: 0 10px; }
    #root .container-normal h2 {
      margin: 4% 0 2%;
      font-size: 25px; }
      #root .container-normal h2::before {
        content: "🖍";
        font-size: 0.8em;
        transform: rotate(-50deg);
        display: block; }
  #root .onePage {
    min-height: 500px;
    margin: auto; } }
  @media screen and (max-width: 768px) and (min-width: 1820px) {
    #root .onePage {
      padding: 2% 0; } }

@media screen and (max-width: 768px) {
  #root h1 {
    font-weight: 100; }
  #root section {
    width: 100%;
    overflow: hidden; }
    #root section article {
      margin: auto;
      height: 100%;
      position: relative; }
      #root section article h2 {
        font-size: 40px;
        margin: 10px 0 20px; }
      #root section article.section-pad {
        position: relative; }
      #root section article .imgBox img {
        max-width: 100%; }
      #root section article .imgBox a {
        display: none; }
    #root section#section1 {
      height: 100vh; }
      #root section#section1 article .textbox {
        width: 75%; }
        #root section#section1 article .textbox h2 {
          text-align: left;
          font-size: 45px; }
        #root section#section1 article .textbox p {
          font-size: 30px; }
      #root section#section1 article .imgBox {
        position: relative;
        min-width: 750px;
        width: 50%; }
        #root section#section1 article .imgBox img {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          width: 100%; }
    #root section#section4 {
      padding: 10px 0;
      background: rgba(170, 176, 255, 0.35); }
      #root section#section4 article {
        max-width: initial;
        padding: 0; }
        #root section#section4 article .list {
          display: flex;
          padding: 0 3%; }
          #root section#section4 article .list .flex-box {
            width: 100%;
            flex-wrap: wrap; }
            #root section#section4 article .list .flex-box .imgBox {
              width: 50%;
              height: 250px;
              overflow: hidden;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center; }
              #root section#section4 article .list .flex-box .imgBox:hover {
                border-radius: 5px; }
                #root section#section4 article .list .flex-box .imgBox:hover::before {
                  content: "";
                  display: block;
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  top: 10px;
                  left: 10px; }
                #root section#section4 article .list .flex-box .imgBox:hover::after {
                  content: "";
                  display: block;
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  bottom: 10px;
                  right: 10px; }
                #root section#section4 article .list .flex-box .imgBox:hover img {
                  background: transparent;
                  transform: scale(1.1);
                  opacity: 1; }
                #root section#section4 article .list .flex-box .imgBox:hover h3 {
                  color: transparent;
                  opacity: 0;
                  width: 0;
                  height: 0; }
                  #root section#section4 article .list .flex-box .imgBox:hover h3::after {
                    opacity: 0; }
              #root section#section4 article .list .flex-box .imgBox img {
                padding: 6%;
                transition: .5s;
                display: block;
                margin: auto;
                max-width: 150px;
                opacity: 0; }
              #root section#section4 article .list .flex-box .imgBox h3 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-weight: 700;
                font-size: 32px;
                transition: .5; }
                #root section#section4 article .list .flex-box .imgBox h3::after {
                  content: "";
                  transition: .5s;
                  position: absolute;
                  left: 50%;
                  top: 55%;
                  transform: translateX(-50%);
                  z-index: -1;
                  display: block;
                  width: 130%;
                  height: 30%;
                  background: #aab0ff; }
  #root .login {
    width: 65%;
    padding: 3%; }
    #root .login h2 {
      font-size: 30px; }
    #root .login .loginForm {
      width: 95% !important;
      margin: auto; }
      #root .login .loginForm ul {
        border: 1px solid #cecdcd;
        border-radius: 5px; }
        #root .login .loginForm ul li {
          padding: 10px 15px; }
          #root .login .loginForm ul li label {
            width: 10%;
            font-size: 19px;
            text-align: center; }
          #root .login .loginForm ul li input {
            font-size: 19px;
            width: 90%;
            border: 0;
            padding-left: 1%;
            background: transparent; }
          #root .login .loginForm ul li:first-of-type {
            border-bottom: 1px solid #cecdcd; }
    #root .login .supplementary-services {
      margin: 20px auto 0;
      width: 100%; }
      #root .login .supplementary-services a {
        display: inline-block;
        width: 33.3%;
        border-left: 1px solid #cdcdcd;
        color: rgba(68, 68, 68, 0.4);
        letter-spacing: -1px;
        text-align: center;
        font-size: 14px; }
        #root .login .supplementary-services a:first-of-type {
          border: 0; }
        #root .login .supplementary-services a:hover {
          color: #000;
          font-weight: 700; }
  #root .register {
    padding: 2% 30px 100px;
    max-width: 1400px; }
    #root .register h2 {
      margin-bottom: 30px; }
    #root .register-ui {
      width: 100%;
      margin: 0 auto;
      border-bottom: 1px solid #cecdcd; }
      #root .register-ui li.gender .gender-box {
        width: 30%; }
        #root .register-ui li.gender .gender-box input {
          width: 17px; }
      #root .register-ui li label {
        width: 30%;
        margin: 0;
        padding-left: 2%;
        display: flex;
        align-items: center; }
        #root .register-ui li label span {
          padding-left: 6%;
          width: 100%; }
          #root .register-ui li label span::before {
            content: "▶";
            margin-right: 20px; }
      #root .register-ui li .insert-box {
        padding-left: 3%;
        width: 70%; }
        #root .register-ui li .insert-box input {
          width: 70%;
          font-size: 18px;
          padding-left: 1%;
          margin: 0; }
    #root .register .btnArea {
      margin-top: 30px; }
  #root .myName {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    display: flex;
    font-size: 100px;
    font-weight: 400; }
    #root .myName div {
      margin: 0 15px;
      position: relative;
      z-index: -1; }
  #root .myPage {
    width: 80%;
    overflow: hidden; }
    #root .myPage li {
      display: flex; }
      #root .myPage li p {
        font-size: 16px; }
  #root .board {
    width: 100%;
    min-height: 500px;
    height: auto;
    padding-bottom: 100px; }
    #root .board-Mini {
      padding-top: 50px;
      width: 90%;
      margin: auto;
      margin-bottom: 0px !important;
      padding-bottom: 0px !important; }
    #root .board-type-board {
      position: relative; }
      #root .board-type-board ul {
        width: 100%;
        overflow: hidden; }
        #root .board-type-board ul li {
          padding: 1% 0;
          display: flex; }
          #root .board-type-board ul li.tag_name {
            padding-left: 2%; }
          #root .board-type-board ul li a {
            display: flex;
            flex-wrap: wrap;
            align-items: center; }
            #root .board-type-board ul li a p {
              width: 100%; }
              #root .board-type-board ul li a p .reply_count {
                margin-left: 5px;
                color: #999; }
            #root .board-type-board ul li a.num {
              width: 10%;
              text-align: center; }
            #root .board-type-board ul li a.subject {
              width: 70%;
              padding-left: 1%; }
              #root .board-type-board ul li a.subject p.time {
                color: #999; }
            #root .board-type-board ul li a.user {
              width: 10%; }
          #root .board-type-board ul li .hit {
            display: flex;
            align-items: center;
            text-align: center;
            padding-left: 2%;
            width: 10%; }
      #root .board-type-board table {
        width: 100%;
        border-collapse: collapse;
        overflow: hidden; }
        #root .board-type-board table tbody tr th {
          padding-bottom: 5px;
          text-align: center; }
          #root .board-type-board table tbody tr th:first-of-type {
            width: 10%; }
          #root .board-type-board table tbody tr th:nth-of-type(2) {
            width: 53%; }
          #root .board-type-board table tbody tr th:nth-of-type(3) {
            width: 17%; }
          #root .board-type-board table tbody tr th:nth-of-type(4) {
            width: 10%; }
          #root .board-type-board table tbody tr th:nth-of-type(5) {
            width: 20%; }
        #root .board-type-board table tbody tr td {
          padding: 2px;
          border-bottom: 1px solid rgba(143, 142, 142, 0.5);
          text-align: center; }
          #root .board-type-board table tbody tr td:nth-of-type(2) {
            text-align: left; }
          #root .board-type-board table tbody tr td:nth-of-type(2) {
            padding-left: 3%; }
          #root .board-type-board table tbody tr td a {
            display: block; }
    #root .board-type-gallery table tbody {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center; }
      #root .board-type-gallery table tbody tr {
        width: 26%;
        display: flex;
        margin-bottom: 2%;
        flex-wrap: wrap;
        border-radius: 5px;
        box-shadow: 0px 0px 3px #888;
        padding: 5px 10px; }
        #root .board-type-gallery table tbody tr:first-of-type {
          width: 100%;
          display: none; }
        #root .board-type-gallery table tbody tr td {
          width: 100%; }
          #root .board-type-gallery table tbody tr td.img {
            width: 100%;
            height: 100%; }
            #root .board-type-gallery table tbody tr td.img img {
              width: 100%;
              height: 100%; }
          #root .board-type-gallery table tbody tr td.subject a {
            font-size: 23px; }
          #root .board-type-gallery table tbody tr td.user {
            font-size: 13px;
            text-align: right; }
          #root .board-type-gallery table tbody tr td.time {
            font-size: 13px;
            letter-spacing: 1px;
            text-align: right; }
    #root .board-bottom {
      width: 100%;
      position: absolute;
      bottom: 0; }
    #root .board-nav {
      display: flex;
      margin: 1% 0 0; }
      #root .board-nav > div {
        margin: 0 .5%;
        display: flex; }
      #root .board-nav a {
        margin: 0 1%; }
    #root .board-ui {
      width: 100%; }
      #root .board-ui form {
        width: 60%;
        margin: 20px auto;
        box-shadow: 0px 0px 5px #888;
        border-radius: 5px; }
        #root .board-ui form .title {
          display: flex;
          align-items: center;
          justify-content: space-between; }
          #root .board-ui form .title h2 {
            font-size: 2em;
            padding: 10px 0;
            padding-left: 20px; }
          #root .board-ui form .title .admin-box {
            display: flex;
            justify-content: inherit;
            padding: 0 10px; }
            #root .board-ui form .title .admin-box div.notice {
              display: flex;
              align-items: center; }
              #root .board-ui form .title .admin-box div.notice label {
                word-break: keep-all;
                padding: 5px; }
              #root .board-ui form .title .admin-box div.notice input {
                min-width: 20px;
                margin: auto; }
        #root .board-ui form ul li {
          display: flex;
          padding: 10px 0;
          position: relative;
          align-items: center;
          justify-content: flex-end;
          border-top: 1px solid #999; }
          #root .board-ui form ul li:last-of-type {
            border-bottom: 1px solid #999; }
          #root .board-ui form ul li label {
            border-radius: 5px;
            display: block;
            width: 35%;
            font-size: 18px;
            text-align: center;
            line-height: 1.5em; }
          #root .board-ui form ul li input {
            border: 1px solid #999;
            border-radius: 5px;
            width: 65%;
            height: 25px;
            margin-right: 15px; }
          #root .board-ui form ul li p {
            width: 65%; }
          #root .board-ui form ul li textarea {
            border-radius: 5px;
            border: 1px solid #999;
            width: 65%;
            height: 35vh;
            margin-right: 15px; }
        #root .board-ui form .btnArea {
          padding: 0 20px 20px 0; }
    #root .board-content {
      width: 100%;
      margin: 10px auto 0; }
      #root .board-content .subjectLine {
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-bottom: 20px;
        border-bottom: .5px solid #cecdcd;
        padding: 5px 20px 10px; }
      #root .board-content-sbj {
        width: 100%;
        padding-left: 10px;
        font-size: 27px;
        white-space: nowrap;
        overflow: hidden; }
      #root .board-content-right {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap; }
        #root .board-content-right p {
          color: #888;
          line-height: 2.2em;
          font-size: 17px; }
          #root .board-content-right p.hit {
            margin-right: 15px; }
          #root .board-content-right p.user {
            font-size: 17px;
            line-height: 2.2em;
            margin-right: 15px; }
          #root .board-content-right p.time {
            line-height: 2em;
            margin-top: 5px;
            font-size: 14px; }
        #root .board-content-right .btnArea {
          width: 100%; }
      #root .board-content-txt {
        padding: 0 20px;
        min-height: 200px;
        height: 100%;
        font-size: 14px;
        white-space: pre-wrap; }
    #root .board .btnArea .reply-button {
      width: 100px; }
      #root .board .btnArea .reply-button-x {
        width: 80px; }
    #root .board .reply {
      margin: 30px 0 50px;
      background: #fafafa; }
      #root .board .reply-insert {
        margin: 20px 0;
        padding-bottom: 10px;
        padding-right: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end; }
        #root .board .reply-insert p {
          display: flex;
          align-items: center;
          padding-left: 3%;
          font-size: 18px;
          width: 13%; }
        #root .board .reply-insert textarea {
          height: 100px;
          width: 87%;
          border: 1px solid #b3b1b1;
          margin-bottom: 5px; }
        #root .board .reply-insert .reply-button {
          width: 80px;
          padding: 10px 0;
          margin: 1% 2px 0;
          border-radius: 10px;
          font-weight: 700;
          border: 0;
          cursor: pointer;
          box-shadow: 1px 1px 1px #888; }
      #root .board .reply-list .reply-info {
        padding: 7px 0;
        border-bottom: .5px solid #ddd;
        width: 100%;
        font-size: 14px;
        display: flex; }
        #root .board .reply-list .reply-info .reply-userId {
          padding-left: 2%;
          font-size: 1em;
          width: 15%; }
        #root .board .reply-list .reply-info .reply-content {
          width: 70%;
          padding: 0 2%;
          margin-right: 5%; }
        #root .board .reply-list .reply-info .reply-time {
          width: 10%;
          font-size: 0.9em;
          white-space: nowrap; }
        #root .board .reply-list .reply-info .reply-varValue {
          width: 5%;
          text-align: center;
          position: relative; }
          #root .board .reply-list .reply-info .reply-varValue .reply-varValue-depth {
            display: none;
            position: absolute;
            z-index: 10;
            width: 100%;
            top: 30%;
            left: 0;
            background: #fff; }
            #root .board .reply-list .reply-info .reply-varValue .reply-varValue-depth.on {
              display: block; }
            #root .board .reply-list .reply-info .reply-varValue .reply-varValue-depth li {
              padding: 2%;
              border: 1px solid #cecdcd;
              text-align: center; }
              #root .board .reply-list .reply-info .reply-varValue .reply-varValue-depth li:first-of-type {
                border-bottom: 0; }
  #root .about-banner {
    height: 200px;
    position: relative;
    background-image: url("../../public/img/office.jpg");
    background-size: cover;
    background-position: 600px; }
    #root .about-banner h3 {
      position: absolute;
      top: 50%;
      color: #000;
      text-shadow: 1px 1px 2px #fff;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 45px;
      font-weight: 700;
      text-align: center; }
  #root .about section article {
    padding: 4% 2%;
    max-width: 1400px;
    margin: auto;
    font-size: 20px; }
    #root .about section article h3 {
      width: auto;
      font-size: 55px;
      margin-bottom: 30px;
      position: relative; }
      #root .about section article h3::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0%;
        width: 8%;
        height: 6px; }
    #root .about section article.greetings p {
      line-height: 2em; }
  #root .project-select {
    background: transparent;
    max-width: 768px;
    padding: 10px;
    width: 70%;
    font-size: 28px; }
  #root .project-menu {
    height: auto;
    width: 80%;
    max-width: 768px;
    margin: 0px auto 30px;
    align-items: center;
    font-size: 4.2vw; }
    #root .project-menu li {
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 1em;
      padding: 10px 0; }
      #root .project-menu li:hover a {
        font-size: 1.2em;
        text-shadow: orange 3px 1px 15px; }
      #root .project-menu li a {
        display: block; }
  #root .pi-view {
    background-color: #fff1e3;
    max-width: 800px;
    padding: 30px;
    margin: auto; }
    #root .pi-view h2 {
      display: initial;
      font-family: sans-serif;
      font-weight: 700;
      font-size: 35px; }
      #root .pi-view h2 b.userid {
        font-size: 0.8em;
        text-shadow: 3px 0 2px #000; }
      #root .pi-view h2::before {
        content: "";
        display: none; }
    #root .pi-view > p {
      font-family: sans-serif;
      font-size: 25px;
      color: #aaa;
      font-weight: 400; }
    #root .pi-view .box {
      margin: 50px 0; }
    #root .pi-view .pi-createbtn {
      border: 0;
      font-size: 20px;
      font-weight: 700;
      border-radius: 5px;
      min-width: 75px;
      padding: 10px 20px;
      box-shadow: 1px 1px 1px #888;
      cursor: pointer; }
    #root .pi-view .calendar-box {
      max-width: 400px;
      width: 100%;
      background-color: #fff;
      border: 1px solid #aaa;
      padding: 10px; }
      #root .pi-view .calendar-box.on {
        display: block; }
      #root .pi-view .calendar-box p.date-view {
        margin: 10px 0;
        font-size: 15px; }
    #root .pi-view .react-calendar-insert {
      border: 0;
      width: 100%; }
      #root .pi-view .react-calendar-insert .react-calendar__tile--active {
        background-color: inherit;
        color: inherit; }
      #root .pi-view .react-calendar-insert .react-calendar__tile--now:enabled:hover, #root .pi-view .react-calendar-insert .react-calendar__tile--now:enabled:focus, #root .pi-view .react-calendar-insert .react-calendar__tile--now {
        background-color: inherit; }
  #root .react-calendar-main {
    width: 100%;
    max-width: 850px;
    margin: auto;
    border: 0;
    border-left: 0;
    border-right: 0;
    overflow: hidden;
    font-family: 'OKDDUNG';
    padding-bottom: 100px; }
    #root .react-calendar-main .react-calendar__month-view__weekdays__weekday abbr {
      color: #000; }
    #root .react-calendar-main .react-calendar__month-view__days {
      background-color: #fff1e3;
      border-radius: 10px; }
    #root .react-calendar-main .react-calendar__tile {
      height: 125px;
      padding: 0;
      position: relative; }
      #root .react-calendar-main .react-calendar__tile abbr {
        color: #c4c4c4; }
      #root .react-calendar-main .react-calendar__tile:has(div.dateBg) {
        background-color: #ffdfbe;
        border-top: 1px dashed #3e0000;
        border-bottom: 1px dashed #3e0000; }
      #root .react-calendar-main .react-calendar__tile:has(div.dateBg.start) {
        border-left: 1px dashed #3e0000; }
      #root .react-calendar-main .react-calendar__tile:has(div.dateBg.today)::before {
        top: 48%; }
      #root .react-calendar-main .react-calendar__tile:has(div.dateBg.today) .dateBg {
        background: transparent; }
      #root .react-calendar-main .react-calendar__tile:has(div.dateBg.today) abbr {
        color: #fff; }
      #root .react-calendar-main .react-calendar__tile:has(div.dateBg.start.today)::before {
        top: 48%; }
      #root .react-calendar-main .react-calendar__tile:has(div.dateBg.start.today) abbr {
        color: #fff; }
      #root .react-calendar-main .react-calendar__tile:has(div.dateBg.last) {
        border-right: 1px dashed #3e0000; }
      #root .react-calendar-main .react-calendar__tile #root .react-calendar-main .react-calendar__tile:has(div.dateBg.exe) .dateBg.exe {
        background: #f89e37; }
      #root .react-calendar-main .react-calendar__tile #root .react-calendar-main .react-calendar__tile:has(div.dateBg.exe) abbr {
        color: #333; }
      #root .react-calendar-main .react-calendar__tile--now.react-calendar__month-view__days__day abbr {
        color: #fff; }
      #root .react-calendar-main .react-calendar__tile--now.react-calendar__month-view__days__day::after {
        content: "today";
        font-size: 0.9em;
        display: block;
        color: #ac5600;
        position: absolute;
        top: 73%;
        left: 50%;
        transform: translate(-50%, -50%); }
      #root .react-calendar-main .react-calendar__tile--now.react-calendar__month-view__days__day::before {
        content: "";
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: #1e3932;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
      #root .react-calendar-main .react-calendar__tile--now.react-calendar__month-view__days__day:has(.dateBg.today)::after {
        display: none; }
    #root .react-calendar-main abbr {
      transition: .5s;
      font-family: 'OKDDUNG';
      position: relative;
      z-index: 3; }
    #root .react-calendar-main .dateBg {
      width: 30%;
      height: 5px;
      z-index: 1;
      margin: auto;
      border-radius: 15px; }
    #root .react-calendar-main .dateBg.today {
      background: #ac5600; }
      #root .react-calendar-main .dateBg.today::after {
        content: "today";
        font-size: 0.9em;
        display: block;
        color: #ac5600;
        position: absolute;
        top: 73%;
        left: 50%;
        transform: translate(-50%, -50%); }
    #root .react-calendar-main .dateBg.start::after {
      content: "start";
      font-size: 0.9em;
      display: block;
      color: #333;
      position: absolute;
      top: 73%;
      left: 50%;
      transform: translate(-50%, -50%); }
    #root .react-calendar-main .dateBg.start.today {
      background: none; }
      #root .react-calendar-main .dateBg.start.today::before {
        content: "today";
        font-size: 0.9em;
        display: block;
        color: #ac5600;
        position: absolute;
        top: 88%;
        left: 50%;
        transform: translate(-50%, -50%); }
    #root .react-calendar-main .dateBg.last {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px; }
      #root .react-calendar-main .dateBg.last::after {
        content: "end";
        font-size: 0.9em;
        display: block;
        color: #333;
        position: absolute;
        top: 73%;
        left: 50%;
        transform: translate(-50%, -50%); }
    #root .react-calendar-main .dateBg.exe {
      background: #1e3932; }
      #root .react-calendar-main .dateBg.exe .exe_box {
        position: absolute;
        top: 3%;
        left: 5%;
        border-radius: 50%;
        font-size: 18px;
        color: #1e3932; }
    #root .react-calendar-main .react-calendar__viewContainer {
      padding: 10px 0 0;
      background: #fff1e3; }
    #root .react-calendar-main .react-calendar__navigation {
      height: 150px;
      margin-bottom: 0; }
      #root .react-calendar-main .react-calendar__navigation .react-calendar__navigation__label {
        font-size: 30px; }
      #root .react-calendar-main .react-calendar__navigation button {
        font-family: initial; }
      #root .react-calendar-main .react-calendar__navigation .react-calendar__navigation__arrow {
        font-size: 3em; }
    #root .react-calendar-main .react-calendar__navigation__label__labelText {
      font-family: 'OKDDUNG'; }
    #root .react-calendar-main .react-calendar__month-view__weekdays__weekday {
      font-size: 22px; }
    #root .react-calendar-main .react-calendar__month-view__days__day abbr {
      font-size: 16px; }
    #root .react-calendar-main .react-calendar__tile--active {
      background: transparent; }
    #root .react-calendar-main .react-calendar__tile:enabled:hover:has(.dateBg),
    #root .react-calendar-main .react-calendar__tile:enabled:focus:has(.dateBg) {
      background-color: #b2d3ff !important; }
      #root .react-calendar-main .react-calendar__tile:enabled:hover:has(.dateBg) abbr,
      #root .react-calendar-main .react-calendar__tile:enabled:focus:has(.dateBg) abbr {
        display: block;
        text-shadow: 3px 0px 5px #000;
        transform: rotate(15deg) scale(1.5); }
      #root .react-calendar-main .react-calendar__tile:enabled:hover:has(.dateBg) .dateBg,
      #root .react-calendar-main .react-calendar__tile:enabled:focus:has(.dateBg) .dateBg {
        height: 0; }
  #root .textarea {
    margin-top: 30px; }
    #root .textarea textarea {
      width: 100%;
      height: 100%;
      min-height: 300px;
      border: 0;
      outline: none;
      background-color: #fff;
      font-size: 17px;
      font-weight: 100;
      padding: 10px;
      border-radius: 5px; }
  #root .calendar-modal {
    width: 85%;
    max-width: 768px;
    height: 95%; }
    #root .calendar-modal h2 {
      font-size: 40px; }
    #root .calendar-modal .execution-insert-view li {
      width: 90%;
      margin: 10px auto; }
      #root .calendar-modal .execution-insert-view li .line {
        margin-bottom: 10px; }
      #root .calendar-modal .execution-insert-view li .textarea {
        margin-top: 30px; }
        #root .calendar-modal .execution-insert-view li .textarea textarea {
          width: 100%;
          height: 100%;
          min-height: 300px;
          border: 0;
          outline: none;
          background-color: #faebeb;
          font-size: 17px;
          font-weight: 100;
          padding: 10px;
          border-radius: 10px; }
    #root .calendar-modal .execution-look-view {
      margin-top: 20px; }
      #root .calendar-modal .execution-look-view li {
        position: relative;
        border: 1px solid #aaa;
        border-radius: 5px;
        overflow: hidden;
        width: 100%;
        padding: 10px;
        margin: 10px auto 20px; }
        #root .calendar-modal .execution-look-view li .line {
          margin-bottom: 10px; }
          #root .calendar-modal .execution-look-view li .line:nth-of-type(2) {
            margin-top: 20px; }
            #root .calendar-modal .execution-look-view li .line:nth-of-type(2) textarea {
              width: 100%;
              height: 100%;
              min-height: 200px;
              font-size: 20px;
              font-weight: 100;
              padding: 10px;
              border-radius: 5px; }
        #root .calendar-modal .execution-look-view li p {
          font-size: 20px;
          border-radius: 5px; }
          #root .calendar-modal .execution-look-view li p.execution-subject::before {
            content: "제목";
            word-break: keep-all;
            color: #888;
            display: block;
            padding-right: 15px; }
          #root .calendar-modal .execution-look-view li p.execution-content {
            min-height: 100px; }
            #root .calendar-modal .execution-look-view li p.execution-content::before {
              content: "내용";
              word-break: keep-all;
              color: #888;
              display: block;
              padding-right: 15px; }
        #root .calendar-modal .execution-look-view li button {
          cursor: pointer; }
          #root .calendar-modal .execution-look-view li button.achieve-button {
            background: #fff;
            color: #999;
            border: 0;
            box-shadow: none;
            margin: 5px 10px;
            font-size: 20px; }
            #root .calendar-modal .execution-look-view li button.achieve-button.active {
              cursor: inherit; }
    #root .calendar-modal ul {
      padding: 0;
      width: 100%;
      margin: auto; }
      #root .calendar-modal ul.behavior-list li {
        border-bottom: 1px solid #aaa;
        margin: 15px; }
        #root .calendar-modal ul.behavior-list li:hover a {
          color: #666;
          font-size: 22px; }
          #root .calendar-modal ul.behavior-list li:hover a::after {
            content: "";
            border-bottom: 1px solid #666;
            width: 100%; }
        #root .calendar-modal ul.behavior-list li a {
          position: relative;
          transition: .5s;
          padding: 15px;
          color: #aaa;
          display: block;
          font-size: 20px; }
          #root .calendar-modal ul.behavior-list li a::after {
            content: "";
            padding: 0;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 0%;
            height: 100%;
            transition: .5s; }
      #root .calendar-modal ul li {
        display: block; }
        #root .calendar-modal ul li .line {
          position: relative;
          width: 100%;
          margin: 50px 0; }
          #root .calendar-modal ul li .line input {
            font-size: 15px;
            color: #222;
            width: 100%;
            border: none;
            border-bottom: solid #aaa 1px;
            padding-bottom: 10px;
            padding-left: 10px;
            position: relative;
            background: none;
            z-index: 5; }
          #root .calendar-modal ul li .line input::placeholder {
            color: #aaa; }
          #root .calendar-modal ul li .line input:focus {
            outline: none; }
          #root .calendar-modal ul li .line span {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0%;
            background-color: #666;
            width: 0;
            height: 2px;
            border-radius: 2px;
            transition: 0.5s; }
          #root .calendar-modal ul li .line label {
            position: absolute;
            color: #aaa;
            left: 10px;
            font-size: 20px;
            bottom: 8px;
            transition: all .2s; }
          #root .calendar-modal ul li .line input:focus ~ label,
          #root .calendar-modal ul li .line input:valid ~ label {
            font-size: 16px;
            bottom: 40px;
            font-weight: bold; }
          #root .calendar-modal ul li .line input:focus ~ span,
          #root .calendar-modal ul li .line input:valid ~ span {
            width: 100%; }
  #root .cover-box-test {
    width: 100%;
    height: 300px; }
    #root .cover-box-test button {
      border: 0;
      display: block;
      margin: auto;
      max-width: 300px;
      font-size: 25px;
      border-radius: 10px;
      box-shadow: 2px 0px 2px #000;
      padding: 10px; }
    #root .cover-box-test .question {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
    #root .cover-box-test h3 {
      width: 100%;
      font-size: 25px;
      text-align: center;
      margin: 20px 0; }
      #root .cover-box-test h3 b.userId {
        font-size: 1.5em;
        letter-spacing: 1px; }
    #root .cover-box-test .answer .test-view {
      height: 350px; }
      #root .cover-box-test .answer .test-view-description {
        margin-bottom: 10px;
        font-size: 25px; }
        #root .cover-box-test .answer .test-view-description .question {
          font-size: 0.9em; }
      #root .cover-box-test .answer .test-view-box {
        padding-top: 20px; }
        #root .cover-box-test .answer .test-view-box-input {
          margin: 30px auto;
          width: 70%;
          max-width: 700px; }
      #root .cover-box-test .answer .test-view-question {
        font-size: 1.5em; }
        #root .cover-box-test .answer .test-view-question::before {
          content: "Question : ";
          color: #000;
          font-family: initial;
          font-weight: 700;
          font-size: 0.7em;
          word-break: keep-all; }
  #root form ul li {
    display: flex;
    margin: 5px 0; }
    #root form ul li label {
      width: 40%;
      margin-right: 10px; }
  aside {
    display: none; }
  .likes-cover {
    padding: 10px 0; }
    .likes-cover .like {
      max-width: 768px;
      flex-wrap: wrap;
      width: 80%;
      padding-bottom: 50px; }
      .likes-cover .like-description {
        margin-bottom: 30px; }
      .likes-cover .like li {
        margin: 10px auto;
        padding: 35px 0;
        width: 42%;
        border-radius: 5px; }
        .likes-cover .like li a {
          font-size: 50px; } }
