.canvas-bg::after {
  display: none;
  content: "";
  position: absolute; }

.canvas-box.bounce_ball {
  background: #000;
  transition: 1s;
  animation: test 60s infinite linear;
  animation-timing-function: 1s; }

.canvas-box.big {
  animation: test2 15s infinite; }

.canvas-bounce1 {
  animation: bounce 1s infinite; }

.canvas-circle:nth-of-type(1) {
  animation: normal_circle 6s infinite alternate;
  animation-delay: 1 * 1s; }

.canvas-bounce2 {
  animation: bounce 2s infinite; }

.canvas-circle:nth-of-type(2) {
  animation: normal_circle 7s infinite alternate;
  animation-delay: 2 * 1s; }

.canvas-bounce3 {
  animation: bounce 3s infinite; }

.canvas-circle:nth-of-type(3) {
  animation: normal_circle 8s infinite alternate;
  animation-delay: 3 * 1s; }

.canvas-bounce4 {
  animation: bounce 4s infinite; }

.canvas-circle:nth-of-type(4) {
  animation: normal_circle 9s infinite alternate;
  animation-delay: 4 * 1s; }

.canvas-bounce5 {
  animation: bounce 5s infinite; }

.canvas-circle:nth-of-type(5) {
  animation: normal_circle 10s infinite alternate;
  animation-delay: 5 * 1s; }

.canvas-bounce6 {
  animation: bounce 6s infinite; }

.canvas-circle:nth-of-type(6) {
  animation: normal_circle 11s infinite alternate;
  animation-delay: 6 * 1s; }

@keyframes normal_circle {
  0% {
    transform: translate(0, 15%); }
  25% { }
  50% { }
  100% {
    transform: translate(0, 0); } }

@keyframes bounce {
  0% {
    transform: scale(1.05); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(1.05); } }

@keyframes test {
  0% {
    transform: translate3d(0, 0, 0) rotate(0) scale(0.5);
    background: black;
    border-radius: 0; }
  10% {
    transform: rotate(180deg) scale(1);
    top: 94%;
    left: 50%; }
  20% {
    transform: rotate(450deg) scale(2);
    border-radius: 50%;
    top: 50%;
    left: 94%;
    background: red;
    border-radius: 10% 20% 10% 40%; }
  30% {
    transform: rotate(-90deg) scale(1.2);
    top: 0%;
    left: 80%;
    border-radius: 0; }
  40% {
    transform: rotate(-270deg) scale(5);
    border-radius: 50%;
    top: 30%;
    left: 30%;
    border: 2px solid #64ffc8;
    background: transparent; }
  50% {
    transform: rotate(540deg) scale(0.5);
    top: 50%;
    left: 50%; }
  60% {
    transform: rotate(-270deg) scale(1);
    top: 94%;
    left: 0%;
    background: blue; }
  70% {
    transform: rotate(180deg) scale(3);
    top: 0%;
    left: 20%;
    border-radius: 0; }
  80% {
    transform: rotate(540deg) scale(3.5);
    top: 60%;
    left: 60%;
    background: #ff64ff; }
  90% {
    transform: rotate(810deg) scale(3);
    top: 94%;
    left: 70%; }
  95% {
    transform: rotate(810deg) scale(1);
    border-radius: 50%;
    top: 110%;
    left: 50%; }
  100% {
    transform: translate3d(-50%, -50%, 0px) rotate(0) scale(1);
    top: 110%;
    left: 50%;
    background: black; } }

@keyframes test2 {
  0% {
    border-radius: 25%; }
  50% {
    border-radius: 50%; }
  100% {
    border-radius: 25%; } }
